---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { color: #555; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 18px; }
pre, code { font-family: Consolas, "Courier New", monospace; color: #5E5E5E; background: #f5f2f0; white-space: pre-wrap }
pre { padding: 7px 12px; border: 1px solid #ddd; }
code { padding: 0 2px; }
hr { border: 0; border: 1px solid #eee; margin: 4em 0; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
ol, ul { margin: 1em 2.35em 1.5em }
ul ul { margin-top: 0; margin-bottom: 0; }

a { color: #016fde; text-decoration: none; }
a:hover { color: #0D57B7; }

blockquote { padding: 5px 2em; border-left: 1em solid #eee; }

.flex-spacer {
  flex: 1;
}

.breakable {
  word-break: break-all;
}

.btn {
  display: inline-block;
  border: 1px solid #016fde;
  border-radius: 2px;
  padding: 5px 10px;

  &.btn-primary {
    color: #fff;
    background: linear-gradient(to bottom, #016fde, #0364c5);
    &:hover {
      background: #016fde;
    }
  }
  &.btn-secondary {
    background: #fff;
  }
}


.hero-btns {
  margin: 30px 0;
  font-size: 16px;
  .btn {
    width: 180px;
    margin: 0 5px;
    padding: 8px 0;
  }
}

.orb {
  display: inline-block;
  background: #016fde;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  line-height: 68px;

  .fa-share-alt {
    font-size: 41px;
    position: relative;
    left: -1px;
    top: 0px;
  }
  .fa-desktop {
    font-size: 38px;
    line-height: 74px;
  }
  .fa-database {
    font-size: 38px;
    position: relative;
    left: 1px;
    top: -1px;
  }
}

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.site {
}

.home {
  max-width: 960px;
  margin: 0 auto;
}

.doc {
  display: flex;
  margin: 3em auto;
  max-width: 960px;
  min-height: 340px;

  .doc-nav {
    flex: 0 0 150px;
    font-size: 15px;

    .doc-nav-section {
      margin-bottom: 1em;
    }

    p {
      margin: 0 0 0.25em;
    }
    
    a.current {
      color: #555;

      &:before {
        content: '\0203A ';
        margin-right: 5px;
      }
    }
  }
  .doc-body {
    font-size: 16px;
    max-width: 720px;

    h2, h3, h4, p {
      margin: 22.5px 0;
    }
    p, li {
      line-height: 1.4;
    }
    h2 { font-size: 2em; font-weight: normal; }
    h3 { font-size: 1.5em; font-weight: normal; }
    h2:first-child {
      margin-top: 0;
    }
    h3 small {
      font-size: 0.5em;
      font-weight: bold;
    }
  }
}

/*****************************************************************************/
/*
/* Common Blocks
/*
/*****************************************************************************/

.section {
  margin: 60px 0 80px;
  text-align: center;

  h3 {
    color: #333;
    font-size: 36px;
    margin: 0 0 30px;
    font-weight: normal;
  }

  h4 {
    color: #555;
    font-size: 40px;
    margin: 0 200px 30px;
    font-weight: normal;
  }

  h5 {
    font-size: 26px;
  }

  img.bordered {
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .desc {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 31px;
    text-align: justify;
    color: #333;
    margin: 0px 180px;

    font-weight: 300;
    strong {
      font-weight: 400;
    }
  }

  &.less-top-margin {
    margin-top: 0;
    .desc p:first-child {
      margin-top: 0;
    }
  }
  &.center {
    .desc {
      text-align: center;
    }
  }
}

.technical-explanation {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1em;
  margin: 2em;
  box-shadow: 0px 2px 2px rgba(0,0,0,.05);

  &:before {
    content: attr(data-title);
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 6px 14px 5px;

    font-size: 11px;
    color: gray;
    font-weight: bold;
    background: #f5f2f0;
  }

  .icon {
    flex: 0 0 45px;
    padding: 20px 0 0 5px;
    font-size: 32px;
    color: #aaa;
  }

  .body > :last-child {
    margin-bottom: 0 !important;
  }

  &.single-line .body {
    padding-top: 8px;
  }
}

.doc-gif {
  width: 500px;
  border: 1px solid #555;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  display: flex;
  margin: 1em auto;
  max-width: 960px;
  height: 32px;

  img {
    vertical-align: bottom;
  }
  h1 {
    font-weight: 100;
    font-size: 21px;
    margin: 0 0 0 4px;
    line-height: 32px;
  }
  a {
    line-height: 32px;
    font-size: 16px;

    &.nav-link {
      margin-left: 2em;
    }
  }
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  display: flex;
  margin: 6em auto 1em;
  padding-top: 1em;
  max-width: 960px;
  height: 32px;
  border-top: 1px solid #3f9efd;

  a {
    line-height: 32px;
    font-size: 16px;

    &.nav-link {
      margin-left: 2em;
    }
  }
}

/*****************************************************************************/
/*
/* Hero
/*
/*****************************************************************************/

.hero-wrapper {
  padding: 4em 0;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  margin-bottom: 2em;
  background: #f5f5f5;

  .hero {
    text-align: center;
    color: #333;

    img {
      display: block;
      margin: 0 auto;
    }

    h2 {
      font-size: 52px;
      font-weight: 100;
    }

    h3 {
      font-size: 34px;
      font-weight: 100;
      color: #777;
      line-height: 60px;
    }
  }
  .hero-btns {
    margin-top: 20px;
  }
}

/*****************************************************************************/
/*
/* APIs
/*
/*****************************************************************************/

.apis {
  position: relative;
  display: flex;
  margin: 0 160px;

  &:before {
    content: '';
    border-top: 1px solid #555;
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
  }

  .api {
    position: relative;
    flex: 1;
    text-align: center;
    margin-bottom: 20px;    
    z-index: 10;

    .orb {
      margin-bottom: 16px;
      border: 5px solid #fff;
      border-radius: 50px;
    }
  }
}


.mini-faq {
  margin: 60px auto 80px;
  max-width: 680px;

  .mini-faq-row {
    display: flex;
    .mini-faq-col {
      flex: 1;
      padding: 16px;
      margin: 5px;
      border: 1px solid #bbb;
      border-radius: 4px;
      font-size: 15px;
      vertical-align: top;
    }
  }
}

