---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "fonts";
@import "syntax-highlight";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { color: #555; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 18px; }
pre, code { font-family: Consolas, "Courier New", monospace; color: #5E5E5E; background: #fafafa; white-space: pre-wrap; }
pre { padding: 12px 16px; word-break: break-all }
code { padding: 0 2px; }
pre code { padding: 0 }
pre.highlight { border-left: 5px solid #4aa4ff; line-height: 1.4; background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmFmYWZhIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+"); }
hr { border: 0; border: 1px solid #eee; margin: 4em 0; }
hr.nomargin { margin: 2em 0; }
.layout-default hr { border-color: #aaa; border-bottom: 0; }
img { max-width: 100% }


h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
ol, ul { margin: 1em 2.35em 1.5em }
ul ul { margin-top: 0; margin-bottom: 0; }
ul li { margin-bottom: 5px }
ul.spaced li { margin-bottom: 1em; }

a { color: #016fde; text-decoration: none; }
a:hover { color: #0D57B7; }

blockquote { padding: 5px 2em; border-left: 1em solid #eee; }

.flex-spacer {
  flex: 1;
}
.muted {
  color: #999;
}
.unbreakable, .unbreakable * {
  white-space: pre;
}
.breakable {
  word-break: break-all;
}
.noborder {
  border: 0 !important;
}

img.bordered {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.centered {
  display: block;
  margin: 0 auto;
}

.label {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px 5px;

  &.label-black {
    background: #555;
    border: 1px solid #444;
    color: #fff;
  }
  &.label-gray {
    background: #ccc;
    border: 1px solid #c5c5c5;
  }
  &.label-green {
    background: #93e45b;
    border: 1px solid #2acc2a;
  }
  &.label-yellow {
    background: #ffe500;
    border: 1px solid #ffd600;
  }
}
.label-group {
  .label {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.btn {
  display: inline-block;
  border: 1px solid #016fde;
  border-radius: 2px;
  padding: 5px 10px;

  &.btn-primary {
    color: #fff;
    background: linear-gradient(to bottom, #016fde, #0364c5);
    &:hover {
      background: #016fde;
    }
  }
  &.btn-secondary {
    background: #fff;
  }

  &.btn-block {
    display: inline-block;
    margin: 3px 2px;
    padding: 8px 16px 6px 12px;
    border-color: #999;

    .fa {
      width: 20px;
      text-align: center;
      padding-right: 2px;
    }
  }
}

@media(max-width: 740px) {
  .btn.btn-block {
    margin: 16px;
    width: auto;
    display: block;
  }
}

.hero-btns {
  margin: 30px 0;
  font-size: 21px;
  .btn {
    margin: 0 5px;
    padding: 8px 14px;
  }
  iframe {
    position: relative;
    top: 7px;
  }
}
@media(max-width: 400px) {
  .hero-btns {
    a {
      display: block;
      margin-bottom: 5px;
      margin: 5px auto !important;
      padding: 15px 0;
    }
    iframe {
      top: 0;
    }
  }
}

.orb {
  display: inline-block;
  background: #016fde;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  line-height: 68px;

  .fa-share-alt {
    font-size: 41px;
    position: relative;
    left: -1px;
    top: 0px;
  }
  .fa-desktop {
    font-size: 38px;
    line-height: 74px;
  }
  .fa-database {
    font-size: 38px;
    position: relative;
    left: 1px;
    top: -1px;
  }
  .fa-at, 
  .fa-lock {
    font-size: 42px;
    position: relative;
    top: 0px;
  }
  .fa-file-code-o {
    font-size: 39px;
    position: relative;
    left: 1px;
    top: -2px;
  }
  .fa-feed {
    font-size: 40px;
    position: relative;
    left: 2px;
    top: 0px;
  }
}

ul.icon-discs {
  list-style: none;
  margin-left: 1.5em;
  margin-right: 0;

  .fa {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 5px;
  }
}

.team-member {
  display: flex;
  margin-right: 50px;
  div {
    margin: 10px 10px 0;
    &:first-child {
      margin-left: 0;
    }
  }
  img {
    width: 160px;
  }
  h4 {
    margin: 10px 0 !important;
  }
  p {
    margin: 0 !important;
  }
}

.screenshot {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  text-align: center;
  color: gray;

  & > div {
    flex: 1;

    img {
      display: block;
      border: 1px solid #ccc;
    }

    &:last-child {
      margin-top: 10px;
    }
  }
}

@media (max-width: 740px) {
  .screenshot {
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 21px;
  
    &.dark {
      background: #fff;
      color: #555;
    }
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}

#mailing-list-link {
  position: fixed;
  z-index: 3;
  right: -70px;
  top: -20px;
  transform: rotate(45deg);
  background: #016fde;
  color: #fff;
  padding: 75px 0 8px;
  text-align: center;
  width: 200px;
}

@media (min-width: 740px) and (max-width: 1300px) {
  #mailing-list-link  {
    display: none;
  }
}

.banner-grid {
  // OLD GRID BG: background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9IiMwMTZmZGUiPjwvcmVjdD4KPGcgZmlsbD0iIzJhODRkZSI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMSIgeT0iMjAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxIiB5PSI0MCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEiIHk9IjYwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMSIgeT0iODAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMTAwIiB4PSIyMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxMDAiIHg9IjQwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEwMCIgeD0iNjAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMTAwIiB4PSI4MCI+PC9yZWN0Pgo8L2c+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZT0iIzYyYjBmZiI+PC9yZWN0Pgo8L3N2Zz4=");
  background: #5570a7;
  height: 110px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#logo {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 5;
}

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.site {
}

.home {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 25px;
}

.doc {
  display: flex;
  margin-top: 50px;
  padding: 10px 25px;
  min-height: 100%;
  background: #fff;
  z-index: 2;
  position: relative;
  box-shadow: 0 -5px 35px rgba(0,0,0,0.25);

  .doc-nav {
    flex: 0 0 180px;
    font-size: 16px;
    padding: 1em 0;

    &.rightside {
      flex: 1;
      padding-left: 2em;
      min-width: 180px;
    }

    .hidable {
      display: none;
    }

    .doc-nav-section {
      margin-bottom: 1em;
    }

    p {
      margin: 0 0 0.25em;
    }
    
    a.current {
      color: #555;

      &:before {
        content: '\0203A ';
        margin-right: 5px;
      }
    }
  }
  .doc-body {
    font-size: 18px;
    max-width: 720px;
    padding: 40px 20px;

    h2, h3, h4, p {
      margin: 22.5px 0;
    }
    p, li {
      line-height: 1.75;
    }
    h2 { font-size: 2em; font-weight: normal; }
    h3 { font-size: 1.5em; font-weight: normal; }
    h2:first-child {
      position: absolute;
      top: -60px;
      margin-left: -20px;
      margin-right: -20px;
      color: #fff;
      background: #346;
      padding: 20px;
    }
    h3 small {
      font-size: 0.5em;
      font-weight: bold;
    }
  }
}

@media(max-width: 1024px) {
  .doc {
    display: block;
    .doc-nav {
      display: block;

      &.rightside {
        padding-left: 0;
      }

      .doc-nav-inner {
        position: relative;
      }

      .logo {
        display: none;
      }

      .doc-nav-section {
        padding: 0;
        .doc-link {
          display: block;
          padding: 10px;
          background: #eee;
        }
      }
    }
  }
}
@media(max-width: 740px) {
  .doc {
    display: block;
    .doc-nav .hidable {
      display: block;
    }
  }
}

#toc {
  .from-h2 {
    font-weight: bold;
    color: #555;
  }
  .from-h4 {
    padding-left: 10px;
    color: gray;
  }
}

/*****************************************************************************/
/*
/* Common Blocks
/*
/*****************************************************************************/

.card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;

  & > :first-child { margin-top: 0 !important; }
  & > :last-child { margin-bottom: 0 !important; }
}

.card-group {
  display: flex;
  clear: both;
  .card {
    flex: 1;
    &.halfwidth {
      flex: 0.5;
    }
    &:first-child {
      border-right: 0;
    }
  }
}

.section {
  margin: 70px auto;
  text-align: center;
  max-width: 800px;

  h3 {
    color: #333;
    font-size: 36px;
    line-height: 31px;
    margin: 0 0 30px;
    font-weight: normal;

    small {
      font-size: 16px;
    }
  }

  h4 {
    color: #444;
    font-size: 27px;
    font-weight: normal;
  }

  h5 {
    color: #555;
    font-size: 24px;
    font-weight: normal;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 31px;
  }

}

@media(max-width: 740px) {
  .section {
    margin: 100px 0;
    h3 {
      font-size: 31px;
      line-height: 28px;
      margin: 0 0 20px;
    }
    .desc {
      margin: 0 10%;
    }
  }
}

@media(max-width: 400px) {
  .section {
    h3 {
      font-size: 28px;
      line-height: 26px;
      margin: 0 0 10px;
    }
    .desc {
      margin: 0;
    }
    .hidable {
      display: none;
    }
    img {
      margin-top: 10px;
    }
  }
}

.columns {
  display: flex;

  &.vcenter {
    align-items: center;
    justify-content: center;
  }
  &.reverse {
    flex-direction: row-reverse;
  }

  .column {
    flex: 1;
  }
}
@media(max-width: 720px) {
  .columns {
    display: block;
    .column p {
      padding: 0 1em;
    }
  }
}

.technical-explanation {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1em;
  margin: 2em;
  box-shadow: 0px 2px 2px rgba(0,0,0,.05);
  text-align: left;

  &:before {
    content: attr(data-title);
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 6px 14px 5px;

    font-size: 11px;
    color: gray;
    font-weight: bold;
    background: #f5f2f0;
  }

  .icon {
    flex: 0 0 45px;
    padding: 20px 0 0 5px;
    font-size: 32px;
    color: #aaa;
  }

  .body > :last-child {
    margin-bottom: 0 !important;
  }

  &.single-line .body {
    padding-top: 8px;
  }
}

.doc-gif {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
}

ul.doc-toc,
ul.doc-toc ul {
  margin-left: 1.5em;
}

table.doc-table {
  border-collapse: collapse;
  td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    vertical-align: top;
    line-height: 1.75;
  } 
  td:first-child {
    font-weight: bold;
    white-space: pre;
  }
  .blank td {
    border: 0;
  }

  .heading {
    td:first-child {
      background: #fafafa;
      font-weight: normal;
    }
  }
}

table.comparison {
  position: relative;
  left: -8%;
  width: 100%;
  max-width: 580px;
  margin: 3em auto;
  border-collapse: collapse;

  thead {
    font-weight: bold;
  }
  td {
    border: 1px solid #ccc;
    padding: 10px;

    &:first-child {
      text-align: right;
      border: 0;
    }
  }
  .fa-check {
    color: #11a211;
  }
  .fa-times {
    color: #f57373;
  }
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  display: flex;
  background: #eee;

  a {
    line-height: 32px;
    font-size: 18px;
    color: #555;

    &.nav-link {
      padding: 5px 16px;
      margin: 0 10px;
    }
    &.current {
      border-top: 3px solid orange;
      padding-top: 2px;
      background: #fff;
      font-weight: bold;
    }
    &:hover {
      color: #016fde;
    }
    .fa {
      margin-right: 5px;
      font-size: 24px;
      position: relative;
      top: 3px;
    }
    .showable {
      display: none;
    }
  }
}

@media(max-width: 600px) {
  .header {
    .fa {
      font-size: 24px !important;
      margin-right: 0 !important;
    }
    .showable {
      display: inherit !important;
    }
    .hidable {
      display: none;
    }
  }
}

@media(max-width: 350px) {
  .header {
    .emergency-hidable {
      display: none;
    }
  }
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  display: flex;
  margin: 6em auto 1em;
  padding-top: 1em;
  max-width: 960px;
  height: 32px;
  border-top: 1px solid gray;

  a {
    line-height: 32px;
    font-size: 16px;

    &.nav-link {
      margin-left: 2em;
    }
    .fa {
      margin-right: 5px;
    }
  }
  .showable {
    display: none;
  }
}

@media(max-width: 600px) {
  .footer {
    a {
      font-size: 28px;
    }
    .hidable {
      display: none;
    }
    .showable {
      display: inherit !important;
    }
  }
}

@media(max-width: 400px) {
  .footer {
    a {
      font-size: 23px;
    }
  }
}

/*****************************************************************************/
/*
/* Hero
/*
/*****************************************************************************/

.hero-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;

  .hero {
    text-align: center;
    color: #333;

    img {
      display: block;
      margin: 0 auto 10px;
    }

    h2 {
      font-size: 72px;
      font-weight: 100;
    }

    h3 {
      font-size: 48px;
      font-weight: 100;
      color: #555;
      line-height: 60px;
    }
  }
  .hero-btns {
    margin-top: 20px;
  }
}

@media(max-width: 560px) {
  .hero-wrapper {
    .hero {
      h2 {
        font-size: 46px;
      }
      h3 {
        font-size: 28px;
      }
    }
  }
}

@media(max-width: 480px) {
  .hero-wrapper {
    .hero {
      h2 {
        font-size: 38px;
      }
      h3 {
        font-size: 21px;
      line-height: 40px;
      }
    }
  }
}

/*****************************************************************************/
/*
/* APIs
/*
/*****************************************************************************/

.apis {
  position: relative;
  display: flex;
  max-width: 400px;
  margin: 0 auto;

  &:before {
    content: '';
    border-top: 1px solid #555;
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
  }

  .api {
    position: relative;
    flex: 1;
    text-align: center;
    margin: 0 20px;    
    z-index: 10;

    .orb {
      margin-bottom: 16px;
      border: 5px solid #fff;
      border-radius: 50px;
    }
  }
}


.mini-faq {
  margin: 60px auto 80px;
  max-width: 680px;

  .mini-faq-row {
    display: flex;
    .mini-faq-col {
      flex: 1;
      padding: 16px;
      margin: 5px;
      border: 1px solid #bbb;
      border-radius: 4px;
      font-size: 15px;
      line-height: 22px;
      vertical-align: top;
    }
  }
}

@media(max-width: 500px) {
  .mini-faq .mini-faq-row {
    display: block;
  }
}

.download {
  h2 {
    font-weight: normal;
  }
}