<div>
  <a href="https://enoki.site" class="app" data-tooltip="Enoki - CMS">
    <img src="/img/apps/enoki.ico"/>
  </a>

  <a href="https://fritter.hashbase.io" class="app" data-tooltip="Fritter - Social feed">
    <img src="/img/apps/fritter.ico"/>
  </a>

  <a href="https://dat-cast.hashbase.io" class="app" data-tooltip="Datcast - Podcast">
    <img src="/img/apps/datcast.jpg"/>
  </a>

  <a href="https://ridder-kodedninja.hashbase.io/" class="app" data-tooltip="Ridder - RSS Reader">
    <img src="/img/apps/ridder.png"/>
  </a>

  <a href="https://pixel-eyez-taravancil.hashbase.io/" class="app" data-tooltip="PIXEL-EYEZ - PXON Converter">
    <img src="/img/apps/pixel-eyez.png"/>
  </a>

  <a href="https://archetype.css" class="app" data-tooltip="Archetype - Exhibit works of art">
    <img src="/img/apps/archetype.png"/>
  </a>
</div>