<div class="blog-sidebar">
  <div id="sidebar-scrollwith">
    <div class="callout">
      <a class="logo" href="/"><img src="/img/logo/70x80-icon.png"></a>
      <p class="tagline">Create and share peer-to-peer websites. <a href="/">Learn more</a></p>
    </div>
    <p class="sidebar-links">
      <a href="https://github.com/beakerbrowser/beaker">
        <i class="fa fa-github-alt" aria-hidden="true"></i>
        Github
      </a>
      <a href="https://twitter.com/beakerbrowser">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twitter
      </a>
    </p>
  </div>
</div>

<script src="/js/blog-sidebar.js"></script>