<hr>

<div class="section center">
  <h3 style="margin-bottom: 20px"><strong>Try the Beta</strong></h3>
  <div class="desc">
    <p>We're still building! Our source-code is modified MIT-licensed, and our issue tracker is open too. <span class="hidable">Join us in #beakerbrowser on Freenode.</span></p>
  </div>
  <div class="hero-btns">
    <a class="btn btn-secondary" href="/docs"><i class="fa fa-book" aria-hidden="true"></i> Read the Docs</a><a class="btn btn-primary" href="/download.html"><i class="fa fa-download" aria-hidden="true"></i> Download the Beta</a>
  </div>
  <div><a href="https://github.com/beakerbrowser/beaker">View on GitHub</a></div>
</div>

<hr>

<div class="section mini-faq center">
  <h3>FAQ</h3>
  <div class="mini-faq-row">
    <div class="mini-faq-col">
      <strong>What do peer-to-peer URLs look like?</strong><br>
      They're 64-character hex strings.<br>
      <a href="/docs/faq.html#what-do-dat-urls-look-like">Read more &raquo;</a>
    </div>
    <div class="mini-faq-col">
      <strong>Can I use DNS to create short URLs?</strong><br>
      Yes, but it's not secure yet.<br>
      <a href="/docs/faq.html#can-i-use-dns-to-create-short-urls">Read more &raquo;</a>
    </div>
  </div>
  <div class="mini-faq-row">
    <div class="mini-faq-col">
      <strong>Is the network anonymous?</strong><br>
      No. Other users are able to see your IP.<br>
      <a href="/docs/faq.html#is-the-network-anonymous">Read more &raquo;</a>
    </div>
    <div class="mini-faq-col">
      <strong>Why p2p instead of servers?</strong><br>
      Creative freedom and data-security!<br>
      <a href="/docs/faq.html#why-p2p-instead-of-clientserver">Read more &raquo;</a>
    </div>
  </div>
  <div class="mini-faq-row">
    <div class="mini-faq-col">
      <strong>Can I browse regular HTTP/S sites?</strong><br>
      Yes, Beaker browses the normal Web.<br>
      <a href="/docs/faq.html#can-i-browse-regular-https-sites">Read more &raquo;</a>
    </div>
    <div class="mini-faq-col">
      <strong>Is Beaker built entirely from scratch?</strong><br>
      No, it's a fork of the Chrome browser.<br>
      <a href="/docs/faq.html#is-beaker-built-entirely-from-scratch">Read more &raquo;</a>
    </div>
  </div>
</div>