<div class="build-with-beaker">
  <div class="heading">
    <h2>Build with Beaker</h2>

    <p class="subtitle">
      Powerful tools for building websites, apps, and more.
    </p>
  </div>

  <div class="content columns gray-bg">
    <div class="col col-2-5">
      <div class="build-feature">
        <span class="icon fa fa-code"></span>

        <h3 class="name">
          Fully-fledged View Source
        </h3>

        <p class="description">
          Open any <code>dat://</code> URL in Beaker's Library to explore its files and
          dissect how it works.
        </p>
      </div>

      <div class="build-feature">
        <span class="icon fa fa-clone"></span>

        <h3 class="name">
          Customize any website
        </h3>

        <p class="description">
          See a <code>dat://</code> website you like and want to customize it?
          With one-click, you can make a copy, and make it yours.
        </p>
      </div>

      <div class="build-feature">
        <span class="icon fa fa-bolt"></span>

        <h3 class="name">
          Builtin live-reloading
        </h3>

        <p class="description">
          Forget about <code>localhost</code>. Turn on Beaker's builtin
          live-reloading, and watch your project's changes in real-time.
        </p>
      </div>

      <div class="build-feature">
        <span class="icon fa fa-link"></span>

        <h3 class="name">
          No-nonsense sharing
        </h3>

        <p class="description">
          Want to show off what you're working on? Just share your project's
          <code>dat://</code> URL, and Beaker will serve it on the peer-to-peer
          network.
        </p>
      </div>

      <div class="learn-more">
        <p>
          <a href="https://staltz.com/beaker-frontend-dev-dream-browser/#8">
            Learn more about building websites and apps with Beaker →
          </a>
        </p>
      </div>
    </div>

    <div class="col graphic-container col-3-5">
      <img class="graphic" src="/img/screenshots/ui/library-file-view.png" />
    </div>
  </div>
</div>