<aside class="dns">
  <div class="icon-container">
    <code class="icon dot-com teal big">.com</code>
    <code class="icon dot-com yellow">.org</code>
    <code class="icon dot-com pink">.net</code>
    <code class="icon dot-com pink">.com</code>
    <code class="icon dot-com yellow small">.org</code>
    <code class="icon dot-com yellow">.net</code>
    <code class="icon dot-com small teal">.com</code>
    <code class="icon dot-com pink big under">.org</code>
  </div>

  <a href="/docs/guides/use-a-domain-name-with-dat" class="aside-content">
    dat://, DNS, and domain names—everything you need to know
  </a>
</aside>