{% assign section = site.data.docs[include.section] %}
{% assign activePage = include.page %}

{% if section %}
<nav class="col-1-5 docs-sidebar">
  <!--
  <ul class="pages">
    {% for page in section.children %}
      {% if activePage.title == page.title %}
        {% assign activePageNav = page %}
        <li class="active">
      {% else %}
        <li>
      {% endif %}
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
  -->

  <div class="heading">
    {{ activePage.title }}
  </div>

  {% if activePageNav.children %}
    <ul class="headings">
      {% for child in activePageNav.children %}
        {% if child.heading %}
          <li class="subheading">
            <a class="anchor" href="{{ child.url }}" title="{{ child.title }}">
              #
            </a>

            <span class="collapseable-btn">
              {{child.title }}
              <i class="fa fa-angle-up"></i>
            </span>

            <ul class="collapseable">
              {% for subchild in child.children %}
                <li>
                  <a href="{{ subchild.url }}">{{ subchild.title }}</a>
                  {% if subchild.deprecated %}
                    <i class="fa fa-exclamation-circle"></i>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ child.url }}">{{ child.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>
{% endif %}
