<div class="docs-breadcrumbs {{ include.class }}">
  {% assign activeSection = site.data.docs[include.section] %}

  <div class="container">
    <a href="/docs/" class="toplevel-link breadcrumb">Documentation</a>

    {% if activeSection %}
      <span class="breadcrumb">
        /
      </span>

      <div class="breadcrumb active dropdown-container toggleable-container">
        <span class="toplevel-link">{{ activeSection.title }}</span>
        <i class="fa fa-angle-down"></i>

        <div class="dropdown nav-list left toggleable">
          {% for section in site.data.docs %}
            {% if activeSection.title == section[1].title %}
              <a class="nav-item active" href="{{ section[1].url }}">
                {{ section[1].title }}
                <i class="fa fa-check"></i>
              </a>
            {% else %}
              <a class="nav-item" href="{{ section[1].url }}">{{ section[1].title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% if activeSection.title != 'Tour' and activeSection.title != 'Help & FAQ' %}
        <span class="breadcrumb">
          /
        </span>

        <div class="breadcrumb active dropdown-container toggleable-container">
          <span class="toplevel-link">{{ page.title }}</span>
          <i class="fa fa-angle-down"></i>

          <div class="dropdown wide nav-list left toggleable">
            {% for sectionPage in activeSection.children %}
              {% if page.title == sectionPage.title %}
                <a class="nav-item active" href="{{ sectionPage.url }}">
                  {{ sectionPage.title }}

                  {% if sectionPage.experimental %}
                    <i class="fa fa-flask"></i>
                  {% endif %}

                  <i class="fa fa-check"></i>
                </a>
              {% else %}
                <a class="nav-item" href="{{ sectionPage.url }}">
                  {{ sectionPage.title }}

                  {% if sectionPage.experimental %}
                    <i class="fa fa-flask"></i>
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}

            <div class="dropdown-footer">
              <a href="{{ activeSection.url }}">
                <span class="fa fa-arrow-left"></span>
                Back to {{ activeSection.title }}
              </a>
            </div>
          </div>
      {% endif %}
      </div>
    {% endif %}
  </div>
</div>