<nav class="doc__nav">
  <a href="/" class="doc__nav__logo">
    <span><i class="fa fa-flask"></i> Beaker</span>
  </a>

  <div>
    {% assign doc_groups = site.docs | group_by: 'category' | sort: 'name' %}
    {% for doc_group in doc_groups %}
    <ul class="doc__nav-section">
      {% assign docs = doc_group.items | sort: 'order' %}
      {% assign hasTitled = false %}
      {% for doc in docs %}
        {% assign extension = doc.url | slice: -5, 5 %}
        {% if extension == '.html' %}
        {% if hasTitled == false %}
        <span class="doc__group-name">{{ doc_group.name }}</span>
          {% assign hasTitled = true %}
        {% endif %}
        <li class="doc__link {% if doc.url == page.url %}current{%endif %}">
          <a href="{{ doc.url | prepend: site.baseurl }}">
            {{ doc.short_title | default: doc.title | escape }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
    <hr>
    <ul class="doc__nav-section">
      <li class="doc__link outbound">
        <a href="https://twitter.com/BeakerBrowser">@BeakerBrowser</a>
      </li>
      <li class="doc__link outbound">
        <a href="https://groups.google.com/forum/#!forum/beaker-browser">Mailing List</a>
      </li>
      <li class="doc__link outbound">
        <a href="https://download.beakerbrowser.net/download/latest/osx">Download <span class="fa fa-apple"></span></a>
      </li>
      <li class="doc__link outbound">
        <a href="https://github.com/beakerbrowser/beaker">Build <span class="fa fa-linux"></span></a>
      </li>
    </ul>
  </div>
</nav>
