<div class="doc-nav">
{% assign doc_groups = site.docs | group_by: 'category' | sort: 'name' %}
{% for doc_group in doc_groups %}
  <div class="doc-nav-section">
    {% if doc_group.name != '' %}
      <p><strong>{{ doc_group.name }}</strong></p>
    {% endif %}

    {% assign docs = doc_group.items | sort: 'order' %}
    {% for doc in docs %}
      <p>
        <a class="doc-link {% if doc.url == page.url %}current{% endif %}" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title | escape }}</a>
      </p>
    {% endfor %}
  </div>
{% endfor %}
</div>