<ul class="docs-videos">
  <li>
    <a class="docs-video" href="https://www.youtube.com/watch?v=rJ_WvfF3FN8">
      <img class="thumbnail" src="/img/docs/videos/imagine-this.png"/>

      <div class="info">
        <div class="video-title">
          Imagine this: A Web without servers
        </div>

        <div class="video-author">Tara Vancil</div>
      </div>
    </a>
  </li>

  <li>
    <a class="docs-video" href="https://www.youtube.com/watch?v=1qzDiAg4VGk">
      <img class="thumbnail" src="/img/docs/videos/internet-of-peers.png" />

      <div class="info">
        <div class="video-title">
          Internet of peers
        </div>

        <div class="video-author">Mathias Buus</div>
      </div>
    </a>
  </li>

  <li>
    <a class="docs-video" href="https://www.youtube.com/watch?v=x-ffpAkviM0">
      <img class="thumbnail" src="/img/docs/videos/formalizing-user-rights.png" />

      <div class="info">
        <div class="video-title">
          Formalizing user rights on the Web
        </div>

        <div class="video-author">Paul Frazee</div>
      </div>
    </a>
  </li>


  <li>
    <a class="docs-video" href="https://www.youtube.com/watch?v=4DFalocsoQo">
      <img class="thumbnail" src="/img/docs/videos/js-la.png" />

      <div class="info">
        <div class="video-title">
          The peer-to-peer Web - js.la
        </div>

        <div class="video-author">Paul Frazee</div>
      </div>
    </a>
  </li>
</ul>