<script src="/js/donors.js"></script>

<div class="donors columns">
  <div class="col col-2-5">
    <h2 class="heading">
      Support Beaker's development
    </h2>

    <p>
      Beaker is a community-supported project. Thanks to our generous
      supporters who make Beaker possible!
    </p>

    <p>
      <a href="https://opencollective.com/beaker" class="btn action white">
        <span>Support Beaker on Open Collective</span>
        <i class="fa fa-heart"></i>
      </a>
    </p>
  </div>

  <div id="donors" class="col col-3-5">
    <p>
      Loading donor info...
      <i class="fa fa-heart pulse"></i>
    </p>
  </div>
</div>