<footer class="footer">
  <div class="footer__logo">
    <a href="/">
      <img src="/img/logo/icon.svg">
      Beaker
    </a>
  </div>

  <div class="footer__links">
    <a href="https://github.com/beakerbrowser/beaker">
      <i class="fa fa-github-alt" aria-hidden="true"></i>
      Github
    </a>

    <a href="https://twitter.com/beakerbrowser">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      Twitter
    </a>

    <a href="https://groups.google.com/forum/#!forum/beaker-browser">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Mailing List
    </a>
  </div>
</footer>
