<footer class="footer">
  <div class="container">
    <div class="col">
      <div>
        <a href="/" class="beaker-link">
          <img src="/img/logo/logo.png" class="logo"/>
          <div class="wordmark">Beaker</div>
        </a>
      </div>
      <div>
        <a href="/install/" class="btn outline white">Install Beaker</a>
      </div>
    </div>

    <div class="col">
      <div class="links">
        <a href="/blog">Blog</a>
        <a href="https://docs.beakerbrowser.com/">Documentation</a>
        <a href="/install/">Install Beaker</a>
        <br>
        <a href="/vuln-disclosure/">Vulnerability Disclosure Policy</a>
      </div>
    </div>

    <div class="col">
      <div class="links">
        <a href="https://twitter.com/beakerbrowser">Twitter</a>
        <a href="https://github.com/beakerbrowser/beaker">GitHub</a>
        <a href="https://webchat.freenode.net">#beakerbrowser on freenode</a>
      </div>
    </div>
  </div>
</footer>
