<footer class="footer">
  <div class="footer__logo">
    <a href="/">
      <img src="/img/logo/icon.svg">
      Beaker
    </a>
  </div>

  <div class="footer__links">
    <a href="https://github.com/beakerbrowser/beaker">
      <i class="fa fa-github-alt" aria-hidden="true"></i>
      Github
    </a>

    <a href="https://twitter.com/beakerbrowser">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      Twitter
    </a>

    <a href="https://groups.google.com/forum/#!forum/beaker-browser">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Mailing List
    </a>
  </div>

  <div class="footer__feed">
    <a class="twitter-timeline" data-width="375" data-height="450"
      data-dnt="true" data-link-color="#246fde"
      href="https://twitter.com/BeakerBrowser">Tweets by BeakerBrowser</a>
    <script async src="//platform.twitter.com/widgets.js"
                  charset="utf-8"></script>
  </div>
</footer>
