<li>
  <a class="guide" href="{{ include.guide.url }}">
    <h3 class="guide-title">
      {{ include.guide.title }}
    </h3>

    <p class="guide-snippet light">
      Beaker’s <code>DatArchive</code> API includes the <code>watch()</code> method to notify you when a file or folder changes. It works for both local...
    </p>

    <div class="guide-metadata">
      <img class="avatar" src="{{ include.guide.authorAvatar }}"/>
      <span class="author-name">{{ include.guide.author }}</span>
    </div>
  </a>
</li>