<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <img src="/img/logo/70x80-icon.png" />
      <span>Beaker</span>
    </a>

    <nav class="nav">
      <a class="nav__link" href="/blog/">Blog</a>
      <a class="nav__link" href="/docs/">Docs</a>
      <a class="nav__link btn btn--action"
         href="/docs/install/">
        <span class="tablet-text">Install Beaker <i class="fa fa-download"></i></span>
        <div class="phone-text">Install</div>
      </a>
    </nav>
  </div>
</header>
