<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <img src="/img/logo/70x80-icon.png" />
      <span>Beaker</span>
    </a>

    <nav class="nav">
      <a class="nav__link" href="/docs/">Docs</a>
      <a class="nav__link btn btn--action"
         href="https://groups.google.com/forum/#!forum/beaker-browser">
        <span class="tablet-text">Join the mailing list</span>
        <div class="phone-text">Mailing list</div>
      </a>
    </nav>
  </div>
</header>
