<h2 class="heading">
  How Beaker works
</h2>

<div class="columns">
  <div class="col col-1-2">
    <img src="/img/how-it-works/url-bar.svg"/>
  </div>

  <p class="col col-1-2">
    Beaker adds support for a peer-to-peer protocol called
    <a href="https://datproject.org">Dat</a>. It's the Web you know and
    love, but instead of HTTP, <strong>websites and files are transported with
    Dat.</strong>
  </p>
</div>

<div class="columns">
  <p class="col col-1-2">
    Deploy a website from your computer — no server required! <strong>Visitors
    connect directly to each other</strong>, sharing your site's files and
    helping keep it online.
  </p>

  <div class="col col-1-2">
    <img src="/img/how-it-works/p2p-network.svg"/>
  </div>
</div>

<div class="columns">
  <div class="col col-1-2">
    <img src="/img/how-it-works/customizable-apps.svg"/>
  </div>

  <p class="col col-1-2">
    Files are transported with the peer-to-peer network instead of being
    locked away on a server, so you can <strong>explore all the files that make
    up a website or app</strong>.
  </p>
</div>