<div class="how-it-works-nav">
  <div class="how-it-works-nav-item active">
    <div class="icon-container">
      <img src="/img/how-it-works/versioning.svg" />
    </div>

    <div class="label">
      Versioned URLs
    </div>

    <div class="content columns">
      <div class="col-1-2">
        <h3 class="label">
          Versioned URLs
        </h3>

        <p class="description">
          Butts are so good, and with butts, you can conquer the whole world.
        </p>
      </div>

      <div class="col-1-2 graphic">
        <img src="/img/icon/p2p-web.svg"/>
      </div>
    </div>
  </div>

  <div class="how-it-works-nav-item">
    <div class="icon-container">
      <img src="/img/how-it-works/versioning.svg" />
    </div>

    <div class="label">
      No-nonsense filesharing
    </div>

    <div class="content columns">
      <div class="col-1-2">
        <h3 class="label">
          No-nonsense filesharing
        </h3>

        <p class="description">
          Butts are so good, and with butts, you can conquer the whole world.
        </p>
      </div>

      <div class="col-1-2 graphic">
        <img src="/img/icon/p2p-web.svg"/>
      </div>
    </div>
  </div>

  <div class="how-it-works-nav-item">
    <div class="icon-container">
      <img src="/img/how-it-works/versioning.svg" />
    </div>

    <div class="label">
      Offline-first by default
    </div>

    <div class="content columns">
      <div class="col-1-2">
        <h3 class="label">
          Offline-first by default
        </h3>

        <p class="description">
          Butts are so good, and with butts, you can conquer the whole world.
        </p>
      </div>

      <div class="col-1-2 icon">
        <img src="/img/icon/p2p-web.svg"/>
      </div>
    </div>
  </div>

  <div class="how-it-works-nav-item">
    <div class="icon-container">
      <img src="/img/how-it-works/versioning.svg" />
    </div>

    <div class="label">
      Live reloading
    </div>

    <div class="content columns">
      <div class="col-1-2">
        <h3 class="label">
          Live reloading
        </h3>

        <p class="description">
          Butts are so good, and with butts, you can conquer the whole world.
        </p>
      </div>

      <div class="col-1-2 graphic">
        <img src="/img/icon/p2p-web.svg"/>
      </div>
    </div>
  </div>
</div>

<script src="/js/how-it-works.js"></script>