<nav class="nav">
  <span class="nav-link dropdown-container">
    <a href="/about/">About</a>

    <!--
    <div class="dropdown nav-list delay-transition">
      <a class="nav-item" href="/about">About Beaker</a>
      <a class="nav-item" href="/about">How Beaker works</a>
      <a class="nav-item" href="/about">FAQ</a>
    </div>
    -->
  </span>

  <span class="nav-link dropdown-container">
    <a href="/docs/apis/dat.html">Documentation</a>

    <!--
    <div class="dropdown delay-transition">
      <div class="dropdown-body">
        <div class="dropdown-heading">
          <i class="fa fa-tasks"></i>
          <span class="title">Documentation</span>
        </div>

        <div class="links columns">
          <div class="col-1-2">
            <div class="links-heading">
              Getting started
            </div>

            <ul>
              <li>
                <a href="/">
                  Build your first peer-to-peer website
                </a>
              </li>

              <li>
                <a href="/">
                  Porting an existing website
                </a>
              </li>

              <li>
                <a href="/">
                  Building a peer-to-peer application
                </a>
              </li>

              <li>
                <a href="/">
                  Best practices
                </a>
              </li>
            </ul>
          </div>

          <div class="col-1-2">
            <div class="links-heading">
              Reference
            </div>

            <ul>
              <li>
                <a href="/">
                  DatArchive API documentation
                </a>
              </li>

              <li>
                <a href="/">
                  dat.json manifest file
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="dropdown-footer">
        <div class="footer-item">
          <div class="icon-container">
            <i class="fa fa-lightbulb-o"></i>
          </div>

          <div>
            <div class="footer-heading">
              Tutorials
            </div>

            <p>
              Tutorials and guides for using Beaker and building peer-to-peer
              websites and applications.
            </p>
          </div>
        </div>

        <div class="footer-item">
          <div class="icon-container">
            <i class="fa fa-life-ring"></i>
          </div>

          <div>
            <div class="footer-heading">
              Get help
            </div>

            <p>
              Tutorials and guides for using Beaker and building peer-to-peer
              websites and applications.
            </p>
          </div>
        </div>
      </div>
    </div>
    -->
  </span>

  <a class="nav-link btn action" href="/install/">Install Beaker</a>
</nav>