<h2 class="heading">It's time for a better Web</h2>

<div class="problems">
  <div class="problem left purple">
    <div class="content">
      <h3>Browsers are built for a read-only Web</h3>

      <p>
        The Web was imagined as a space for creation — the
        <a href="https://www.w3.org/People/Berners-Lee/WorldWideWeb.html">
        first Web browser</a> even had built-in tools for editing webpages!
        But browsers of today are built for consumption, not creation,
        hiding away View Source and casting aside the vision of a read-write
        Web.
      </p>

      <p>
        Beaker makes creating a first-class citizen of the
        browser, with tools for exploring and remixing a website's files,
        one-click publishing, and truly serverless hosting. Whether you're
        an HTML hobbyist or a seasoned developer, <strong>Beaker is built to
        help you build</strong>.
      </p>
    </div>

    <div class="graphic-container">
      <img src="/img/pseudo-ui/view-source.svg" class="graphic"/>
    </div>
  </div>

  <div class="problem right green">
    <div class="graphic-container">
      <img src="/img/pseudo-ui/customizable-apps.svg" class="graphic"/>
    </div>

    <div class="content">
      <h3>Apps are locked away in the cloud</h3>

      <p>
        We depend on apps for the professional
        to the deeply personal, yet
        <a href="https://twitter.com/anildash/status/988640346778333184?s=12">
        we're powerless to shape how they work</a>. Feature requests for
        chronological feeds and moderation tools fall second to what drives
        engagement and ad revenue, even when it's not best for users.
      </p>

      <p>
        Beaker is a browser for a <strong>customizable Web</strong>, where
        communities can moderate themselves, feed algorithms are transparent and
        tweakable, and every user is empowered to define their online
        experiences.
      </p>
    </div>
  </div>

  <div class="problem left blue">
    <div class="content">
      <h3>Centralization stifles creativity</h3>

      <p>
        Platforms like Facebook, Tencent, and Twitter enabled mass communication
        and connection, but their
        <a href="https://twitter.com/taravancil/timelines/988866606351646721">
        efforts to stop cross-platform interoperability</a> keep users locked
        in, constraining Web publishing to the narrow bounds of their toolsets.
      </p>

      <p>
        Beaker enables an interoperable Web, where developers can build
        apps on top of <strong>user-owned data</strong>. With no
        central platform pulling the strings, users are free to move their data
        between apps, exploring new ways of publishing, creating, and
        connecting on the Web.
      </p>
    </div>

    <div class="graphic-container">
      <img src="/img/pseudo-ui/peer-to-peer.svg" class="graphic"/>
    </div>
  </div>
</div>