<div class="stay-in-touch">
  <h2>
    Stay in touch
  </h2>

  <div class="columns">
    <form id="get-updates col col-3-5">
      <p>
        Get updates about new features, community updates, and more
      </p>

      <div class="input-group">
        <input name="email" type="email" required placeholder="Email address"/>

        <button type="submit" class="btn action green">
          Sign up
        </button>
      </div>
    </form>

    <div class="col-2-5">
      <ul>
        <li>
          <span class="label">
            Twitter
          </span>

          <a class="href" href="https://twitter.com/beakerbrowser">
            @beakerbrowser
          </a>
        </li>

        <li>
          <span class="label">
            Fritter
          </span>

          <a class="href" href="dat://fritter.hashbase.io/user/5a32f64f5e8e777eb00218d0eb938ae47d9f6d8d48e525498f01a7eb2b4802e1">
            dat://5a3...2e1
          </a>
        </li>

        <li>
          <span class="label">
            Freenode
          </span>

          <a class="href" href="https://webchat.freenode.net">
            #beakerbrowser
          </a>
        </li>

        <li>
          <span class="label">
            GitHub
          </span>

          <a class="href" href="https://github.com/beakerbrowser/beaker">
            @beakerbrowser
          </a>
        </li>
      </ul>
    </div>
  </div>

  <script src="/js/mailchimp.js"></script>
</div>