<div class="team">
  <div class="team-member purple">
    <div class="info">
      <img src="/img/team/pfrazee.jpg" class="avatar"/>
      <h3 class="name">Paul Frazee</h3>
    </div>

    <div class="bio">
      <p class="bio">
        Creator of Beaker, long-time Node and Web programmer, and distributed
        systems enthusiast. Previously developer in the
        <a href="https://www.scuttlebutt.nz/">Secure Scuttlebutt</a> community.
      </p>

      <ul class="links">
        <li>
          <i class="fa fa-link"></i>
          <a href="https://pfrazee.hashbase.io">pfrazee.hashbase.io</a>
        </li>

        <li>
          <i class="fa fa-twitter"></i>
          <a href="https://twitter.com/pfrazee">@pfrazee</a>
        </li>

        <li>
          <i class="fa fa-github"></i>
          <a href="https://github.com/pfrazee">@pfrazee</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="team-member green">
    <div class="info">
      <img src="/img/team/taravancil.jpg" class="avatar"/>
      <h3 class="name">Tara Vancil</h3>
    </div>

    <div class="bio">
      <p class="bio">
        Peer-to-peer Web enthusiast. In charge of product, words, and websites.
        Formerly at Cloudfare and the <a href="https://recurse.com">Recurse Center</a>.
      </p>

      <ul class="links">
        <li>
          <i class="fa fa-link"></i>
          <a href="https://taravancil.com/">taravancil.com</a>
        </li>

        <li>
          <i class="fa fa-twitter"></i>
          <a href="https://twitter.com/taravancil">@taravancil</a>
        </li>

        <li>
          <i class="fa fa-github"></i>
          <a href="https://github.com/taravancil">@taravancil</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="team-member blue">
    <div class="info">
      <img src="/img/team/mafintosh.jpg" class="avatar"/>
      <h3 class="name">Mathias Buus</h3>
    </div>

    <div class="bio">
      <p class="bio">
        Core developer of the <a href="https://datproject.org">Dat protocol</a>
        and its <a href="https://github.com/mafintosh?utf8=%E2%9C%93&tab=repositories&q=hyper">
        underlying technology</a>. Co-creator of
        <a href="http://node-modules.com">node-modules.com</a> and maintainer
        of over of <a href="https://www.npmjs.com/search?q=maintainer:mafintosh">
        600 Node.js modules</a>. Previously co-founder of
        <a href="http://ge.tt">ge.tt</a>, a peer-to-peer filesharing service.
      </p>

      <ul class="links">
        <li>
          <i class="fa fa-link"></i>
          <a href="https://mafintosh.com/">mafintosh.com</a>
        </li>

        <li>
          <i class="fa fa-twitter"></i>
          <a href="https://twitter.com/mafintosh">@mafintosh</a>
        </li>

        <li>
          <i class="fa fa-github"></i>
          <a href="https://github.com/mafintosh">@mafintosh</a>
        </li>
      </ul>
    </div>
  </div>
</div>