  <h2 class="heading">
    The Web should be a creative tool for <strong>everyone</strong>
  </h2>

  <div class="columns subsection">
    <div class="col col-1-2">
      <img src="/img/pseudo-ui/url-bar.svg"/>
    </div>

    <div class="col col-1-2">
      <p>
        Beaker brings <em>peer-to-peer publishing</em> to the Web, turning the browser
        into a supercharged tool for sharing websites, applications, files,
        and more.
      </p>

      <p>
        <a href="https://docs.datproject.org">
          Learn more about the Dat peer-to-peer protocol →
        </a>
      </p>
    </div>
  </div>

  <div class="columns subsection">
    <div class="col col-1-2">
      <p>
        Deploy a website directly from your computer —
        no server required! Your website's visitors connect to each other,
        sharing its files and helping keep your website online.
      </p>

      <p>
        <a href="">Learn how to deploy a website with Beaker →</a>
      </p>
    </div>

    <div class="col col-1-2">
      <img src="/img/pseudo-ui/forget-servers.svg"/>
    </div>
  </div>