%grid {
  @extend %flex-container;
  flex-direction: column;
}

%grid-2 {
  @extend %grid;

  @include respond-to(show-grid-2) {
    flex-direction: row;
  }
}

%col {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

%col-1-2 {
  @extend %col;

  @include respond-to(show-grid-2) {
    flex-basis: 50%;
    text-align: left;
  }
}
