.header {
  @extend %shrink-text-phone;
  position: relative;
  background: $header-bg;
  color: $text--dark-bg;
  width: 100%;
  font-weight: bold;

  &__logo {
    @extend %transition;
    position: relative;
    top: -6px;
    transition-property: color;
    display: inline-block;
    font-size: 1.5em;
    height: 100%;

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      height: 30px;
      margin: 0 5px 0 0;
    }

    &:hover {
      color: $text--dark-bg-hover;
    }
  }

  .container {
    position: relative;
    padding: 25px 0;
    height: 80px;
    @include respond-to(tablet) {
      border-bottom: 1px solid;
    }
  }
}

