.header {
  width: 100%;
  padding: 30px 0;

  .container {
    @extend %flex;
    justify-content: space-between;
  }

  .nav-link {
    margin-left: 30px;
    font-size: .85rem;
    font-weight: 600;

    &:not(.btn) {

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.light {
    @extend %antialiased;
    background: $blue;
    color: #fff;
    font-weight: 700;

    .btn.action {
      background: transparent;

      &:hover {
        background: transparentize(#fff, .9);
      }
    }
  }

  &.dark {
    color: $primary;
  }
}
