.header {
  @extend %antialiased;
  @extend %shrink-text-phone;
  background: $header-bg;
  color: $text--dark-bg;
  width: 100%;
  font-weight: bold;

  .container {
    @extend %flex-container;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 0;

    @include respond-to(tablet) {
      border-bottom: 1px solid;
    }
  }

  &__logo {
    @extend %transition;
    transition-property: color;
    font-size: 1.5em;

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      height: 30px;
      margin: 0 5px 0 0;
    }

    &:hover {
      color: $text--dark-bg-hover;
    }
  }
}
