.header {
  position: relative;
  background: $header-bg;
  color: $text--dark-bg;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  font-weight: bold;

  &:after {
    display: block;
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 60px;
    background: linear-gradient($header-bg, transparent);
  }

  &__logo {
    @extend %transition;
    transition-property: color;
    display: inline-block;
    font-size: 1.3em;
    height: 100%;

    img {
      height: 50px;
    }

    &:hover {
      color: $text--dark-bg-hover;
    }
  }

  .container {
    position: relative;
    padding: 1em 0;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%) 5%;
  }
}

