.nav {
  display: block;

  @media (max-width: 500px) {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .nav-link:not(.btn) {
      margin: 5px 20px 0 0;
    }

    .btn {
      flex: 1;
      text-align: center;
      margin: 0;
    }
  }
}

.nav-link {

  &.dropdown-container {

    &:hover {

      .dropdown {
        visibility: visible;
        transform: scale(1) translateX(-50%);
        opacity: 1;
        z-index: 3000;
      }
    }
  }

  .dropdown {
    width: 500px;

    .dropdown-heading {
      color: $blue;
      color: var(--page-color);
      margin-bottom: 20px;

      .fa {
        margin-right: 5px;
      }

      .title {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: inherit;
      }
    }

    p,
    ul {
      font-weight: 400;
    }

    .links {
      color: #333;

      .col-1-2:first-of-type {
        padding-right: 30px;
      }

      .links-heading {
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: transparentize(#111, .45);
      }

      ul {
        font-weight: 400;
        list-style: none;
        margin-left: 0;
      }

      li {
        line-height: 1;
        margin-top: 15px;

        &:first-of-type {
          margin-top: 10px;
        }
      }

      a {
        color: $blue;
        color: var(--page-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .dropdown-footer {

      .footer-item {
        @extend %inline-flex;
        align-items: flex-start;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      .footer-heading {
        color: $blue;
        color: var(--page-color);
      }

      .icon-container {
        @extend %inline-flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background: #fff;
        color: $blue;
        color: var(--page-color);
        border-radius: 50%;
        border: 1px solid;
        font-size: 28px;
      }
    }
  }
}