.nav {
  position: absolute;
  top: 11px;
  right: 0;

  &__link {
    @extend %transition;
    transition-property: color;
    margin-right: 1em;
    padding: .6em;
    border-radius: .2em;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background: $button-bg-hover;
    }
  }
}



