$breakpoints: (
  'show-desktop-nav': (min-width: 550px),
  'contain-90': (min-width: 700px),
  'contain-95': (min-width: 550px),
  'show-grid-2': (min-width: 750px),
  'show-grid-3': (min-width: 800px),
  'show-grid-5': (min-width: 750px),
  'expand-hero': (min-width: 990px),
  'show-gradient-hero': (min-width: 650px),
  'expand-doc-nav-wide': (min-width: 1100px),
  'tall-gradient-hero': (min-width: 650px),
  'tablet': (min-width: 700px),
);

$docs-nav-width: 225px;

