$beaker-blue: #246fde;
$white: #fff;
$black: mix($beaker-blue, #000, 10%);

$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(76, 217, 100);
$teal: rgb(90, 200, 250);
$other-blue: rgb(0, 122, 255);
$purple: rgb(88, 86, 214);
$pink: rgb(255, 45, 85);

$blue: #3d5af0;

$primary: $blue;
$primary--dark: shade($primary, 70%);
$primary--dark-mid: shade($primary, 35%);
$primary--light-mid: tint($primary, 35%);
$primary--light: tint($primary, 70%);
$primary--very-light: tint($primary, 95%);

$gray--very-dark: mix($black, $white, 65%);
$gray--dark: mix($black, $white, 35%);
$gray: mix($black, $white, 20%);
$gray--mid: mix($black, $white, 15%);
$gray--light: mix($black, $white, 3.5%);
$gray--very-light: mix($black, $white, 2.5%);

// text colors
$text--dark-bg: transparentize($white, .03);
$text--dark-bg-hover: transparentize($white, .4);
$text--light-bg: transparentize($black, .1);
$text--light-bg-muted: transparentize($black, .3);
$text--light-bg-transparent: transparentize($black, .75);
$text--button-action: $primary;
$text--link: $primary;
$text--mark-bg: #FFF59D;

// background colors
$header-bg: $primary;
$footer-bg: $primary;
$hero-bg: $primary;
$intro-bg: $white;
$explainer-bg: $white;
$latest-bg: $gray--light;
$community-bg: $gray--light;
$download-bg: $primary;
$doc-nav-bg: $gray--light;
$button-bg: transparentize($white, .8);
$button-bg-hover: transparentize($white, .7);
$button-bg--action: transparentize($white, .03);
$button-bg--action-hover: $white;
