* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  code,
  pre {
    font-size: inherit;
  }
}

img {
  max-width: 100%;
}

figcaption code {
  font-size: .8rem;
}

button {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: 0;
  border: 0;
}