// @import url('https://rsms.me/inter/inter-ui.css');
@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Regular.woff') format('woff');
  font-weight: regular;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url('/fonts/Inter-UI-Bold.woff') format('woff');
  font-weight: 700;
}

body {
  font-family: 'Inter UI', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 13.5px;
  color: #222;
}

%body-font {
  letter-spacing: .1px;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}

code,
pre {
  font-family: Consolas, 'Lucida Console', Monaco, Menlo, monospace;
}

p {
  font-family: "Inter UI";

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.accent {
    font-weight: 300;
    font-size: 1.35rem;
    margin-bottom: 40px;
  }
}

%antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color: gray;
}