aside {
  @extend %inline-flex;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  font-family: "Inter UI";

  &.link {
    padding: 0;
    font-weight: 500;

    p,
    a {
      color: inherit;
    }
  }

  &.tip {
    @extend %flex;
    flex-wrap: nowrap;
    padding: 0;
    padding-left: 10px;
    border-left: 5px dotted $yellow;
    background: #fff;

    p.tip-content {
      color: #111;
      font-weight: 500;
      margin-left: 25px;
    }

    .fa-lightbulb {
      font-size: 30px;
      color: $yellow;
    }
  }

  &.dat .dat-hexagon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .icon {
    margin-right: 10px;
  }

  .title {
    font-size: 16px;
    margin-top: 0;
  }

  &.experimental-api {
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid $orange;
    margin-top: 10px;

    .aside-header {
      width: 100%;
      height: 20px;
      flex: 100%;
      background: repeating-linear-gradient(
        45deg,
        $orange,
        $orange 10px,
        lighten($orange, 15%) 10px,
        lighten($orange, 15%) 20px
      );
      border-bottom: 2px solid $orange;
    }

    .aside-content {
      padding: 15px;
      font-size: 14px;

      p {
        font-size: inherit;
        font-weight: 500;
      }
    }

    figure.highlight {
      max-width: 100%;
      margin: 0;
    }

    .fa {
      color: $orange;
      margin-right: 5px;
      font-size: 17px;
    }
  }

  &.seeding {
    display: block;
    position: relative;
    max-width: 525px;
    padding: 10px 15px;
    margin: 30px auto;
    border: 2px dotted;

    h3 {
      display: inline-block;
      position: absolute;
      top: -4px;
      left: -12px;
      padding: 2px 5px;
      margin-top: 0;
      background: $teal;
      transform: rotate(-3deg);
      font-size: 16px !important;
    }

    p {
      margin: 20px 0 0 0 !important;
      font-size: 14.5px;
      font-weight: 500;
    }

    a.learn-more-link {
      color: #111 !important;
      font-weight: 500;

      &:hover {
        color: $teal !important;
      }
    }
  }

  &.dns {
    @extend %flex;
    flex-wrap: nowrap;
    max-width: 450px;
    margin: 40px auto;
    font-weight: 500;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }

    a {
      color: inherit;
    }

    .icon-container {
      position: relative;
      width: 125px;
      height: 40px;
      margin-right: 15px;

      .icon {
        position: absolute;
      }

      .dot-com {
        font-family: monospace;
        font-size: 11px;
        font-weight: bold;
        z-index: 2000;

        &.teal {
          background: $teal;
        }

        &.pink {
          background: $pink;
        }

        &.yellow {
          background: $yellow;
        }

        &.big {
          font-size: 12.5px;
        }

        &.small {
          font-size: 10px;
        }

        &.under {
          z-index: 0;
        }

        &:nth-child(1) {
          transform: rotate(7deg);
          right: -5px;
        }

        &:nth-child(2) {
          transform: rotate(7deg);
          left: 0;
          bottom: 0;
        }

        &:nth-child(3) {
          transform: rotate(2deg);
          left: 0px;
          bottom: 20px;
        }

        &:nth-child(4) {
          display: none;
          transform: rotate(-5deg);
          left: 35px;
          bottom: 0px;
        }

        &:nth-child(5) {
          transform: rotate(-5deg);
          left: 30px;
          top: -5px;
        }

        &:nth-child(6) {
          right: -10px;
          bottom: 0;
        }

        &:nth-child(7) {
          transform: rotate(4deg);
          left: 30px;
          bottom: -7px;
        }

        &:nth-child(8) {
          left: 30px;
          top: 15px;
        }
      }
    }

    .aside-content {
      font-size: 14px;
      font-weight: 500;
    }
  }
}