.badge {
  @extend %inline-flex;
  align-items: center;
  height: 18px;
  margin: 0 5px;
  padding: 0 7px;
  border-radius: 1px;
  background: $blue;
  color: #fff;
  font-family: "Inter UI";
  font-weight: 500;
  font-size: 10.5px;
  letter-spacing: .75px;
  text-transform: uppercase;

  &.round {
    border-radius: 40px;
  }

  &.warning {
    background: $orange;
  }

  &.error {
    background: $red;
  }
}