table.basic-table {
  display: block;
  border-collapse: collapse;
  border-radius: 3px;
  border: 1px solid $gray--mid;
  border-bottom: 0;
  margin-bottom: 1.5rem;

  th {
    background: $gray--light;
    padding: 0.5em 1em;
    text-align: right;
    border-bottom: 1px solid $gray--mid;
    border-right: 1px solid $gray--mid;
    font-weight: 500 !important;
    white-space: nowrap;
  }

  td {
    padding: 0.5em 1em;
    width: 100%;
    border-bottom: 1px solid $gray--mid;
    vertical-align: top;
  }
}