.btn {
  @extend %transition;
  @extend %decorative-font;
  transition-property: background;
  border-radius: 3px;
  padding: 3px 15px;
  background: $button-bg;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.3px;
  text-align: center;

  &:hover {
    background: $button-bg-hover;
  }

  &.action {
    background: $blue;
    color: #fff;

    &:hover {
      background: darken($blue, 5%);
    }
  }

  &.outline {
    border: 1px solid $text--light-bg;

    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }

  &.primary {
    color: transparentize($white, .05);
    background: $primary;

    &:hover {
      background: darken($primary, 5%);
    }
  }
}

