.btn {
  display: inline-block;
  border: 1px solid #016fde;
  border-radius: 2px;
  padding: 5px 10px;

  &.btn-primary {
    color: #fff;
    background: linear-gradient(to bottom, #016fde, #0364c5);
    &:hover {
      background: #016fde;
    }
  }
  &.btn-secondary {
    background: #fff;
  }

  &.btn-block {
    display: inline-block;
    margin: 3px 2px;
    padding: 8px 16px 6px 12px;
    border-color: #999;

    .fa {
      width: 20px;
      text-align: center;
      padding-right: 2px;
    }
  }
}

@media(max-width: 740px) {
  .btn.btn-block {
    margin: 16px;
    width: auto;
    display: block;
  }
}

.hero-btns {
  margin: 30px 0;
  font-size: 21px;
  a {
    margin: 0 5px;
  }
  .btn {
    padding: 8px 14px;
  }
  iframe {
    position: relative;
    top: 7px;
    margin: 0 5px;
  }
}
@media(max-width: 420px) {
  .hero-btns {
    padding: 0 20px;
    a {
      display: block;
      margin: 5px auto !important;
      padding: 15px;
      background: #eee;
    }
    iframe {
      top: 0;
    }
  }
}

