.btn {
  @extend %transition;
  transition-property: background;
  border-radius: .2em;
  padding: .4em .7em;
  margin-right: .5em;
  background: $button-bg;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: $button-bg-hover;
  }

  &--action {
    @extend %box-shadow;
    background: transparentize($white, .05);
    color: $primary;
    font-weight: bold;

    &:hover {
      background: transparentize($white, .075);
      box-shadow: none;
      color: $primary;
    }
  }

  &--outline {
    color: $primary;
    border: 2px solid $primary;
    background: $white;

   &:hover {
     background: $white;
   }
  }
}

