%card {
  @extend %rounded;
  border: 1px solid $gray--dark;
}

.card {
  @extend %card;

  &-inline-block {
    display: inline-block;
    margin-bottom: 4px;

    span {
      display: block;
    }
  }

  &-with-icon {
    width: 180px;

    .card-icon {
      display: block;
      padding: 2rem 0;
      font-size: 4rem;
      text-align: center;
      border-bottom: 1px solid $gray--dark;

      &:hover {
        background: $gray--light;
      }
    }
  }

  &-header {
    font-size: 2rem;
  }

  &-body {
    @extend %rounded-bottom;
    
    background: $gray--light;
    color: $gray--very-dark;
    padding: 1rem;
  }
}

.detailed-card {
  @extend %card;
  border-color: $gray;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
  position: relative;
  display: flex;
  padding: 1em;

  @include respond-to(tablet) {
    margin: 2em;
  }

  // title
  &:before {
    content: attr(data-title);
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 6px 14px 5px;
    font-size: 11px;
    color: $gray--dark;
    background: $gray--light;
  }

  &.thin {
    max-width: 400px;
  }

  .icon {
    flex: 0 0 45px;
    padding-top: 20px;
    font-size: 32px;
    color: $gray--dark;
  }

  .body {
    padding-top: 20px;
  }

  .body>:last-child {
    margin-bottom: 0 !important;
  }

  @media (max-width: 800px) {
    .icon {
      display: none;
    }
  }
}
