.collapseable-btn {

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &.collapsed {

    i {
      transform: rotate(180deg);
    }
  }
}

.collapseable {

  &.collapsed {
    height: 0;
    visibility: hidden;
  }
}