.divider {
  content: '';
  height: 2px;
  width: 55px;
  border-radius: 3px;
  background: $text--dark-bg;

  &--light-bg {
    background: $primary;
  }
}


hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid $gray;
}

