.dropdown-container {
  position: relative;
}

.dropdown {
  @extend %box-shadow;
  @extend %transition;
  position: absolute;
  left: 50%;
  top: calc(100% + 15px);
  transform: scale(.95) translateX(-50%);
  opacity: 0;
  z-index: -1;
  // display: none;
  width: 400px;
  padding: 0;
  background: #fff;
  border: 1px solid mix(#ddd, transparentize($blue, .9));
  border-radius: 4px;
  font-size: .85rem;
  transition-property: all;

  .dropdown-body,
  .dropdown-footer {
    padding: 20px;
  }

  .dropdown-body {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }

  .dropdown-footer {
    // TODO give this a variable
    background: mix(#f7f7f7, transparentize($blue, .9));
    border-top: 1px solid mix(#eee, transparentize($blue, .9));
  }

  &.visible {
    display: block;
    transform: scale(1) translateX(-50%);
    opacity: 1;
    z-index: 3000;
  }

  // triangle
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(100% - 8px);
    z-index: -1;
    width: 15px;
    height: 15px;
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
    border: 1px solid mix(#ddd, transparentize($blue, .9));
  }
}