@import "../utils/placeholders";

figure {
  display: table; // this is, sadly, the best way to get centering. ask prf.
  margin: auto;

  img {
    display: block;
    margin: auto;
  }

  figcaption {
    @extend %decorative-font;
    max-width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-style: italic;
    line-height: 1.2;
  }
}
