input {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 15px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 40px;
  font-size: .9rem;

  &:focus {
    border-color: $green;
    outline: none;
  }

  &::placeholder {
    color: rgba(0,0,0,.6);
  }
}

.input-group {
  @extend %flex;
  align-items: center;

  input {
    flex: 1;
    margin-right: 5px;
  }
}