.video {
  @extend %box-shadow;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: .1em;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($white, .3);
    font-weight: bold;
    color: $primary;
    text-align: center;

    &:hover {
      background: transparentize($white, .6);

      i {
        margin-right: -7px;
        margin-left: 9px;
      }
    }
  }

  &__text {
    display: block;
    margin: 22% auto 0 auto;
    max-width: 165px;
  }

  i {
    @extend %transition;
    transition-property: margin;
    margin-left: 3px; 
  }
}
