.layout.about {
  .container.super-narrow {
    max-width: 650px;
  }

  h1 {
    font-size: 2.2rem;
    // margin-bottom: 20px;
  }

  p.accent {
  }

  p:not(.accent):not(.bio) {
    font-size: 14.5px;
  }
}