.layout.about {

  h1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  p.accent {
    font-size: 17px;
  }

  @include respond-to(tablet) {

    h1 {
      font-size: 2.2rem;
    }
  }

  aside,
  p:not(.accent) {
    font-size: 15px;
  }

  .images {
    @extend %flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 30px 10px 60px 10px;

    img {
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 0 5px 25px rgba(0,0,0,0.15);
      display: none;
      max-width: 400px;

      @include respond-to(netbook) {
        display: block;
      }

      &:nth-child(2n) {
        margin: 0 15px;
        display: block;
      }
    }
  }

  .team {
    margin: 40px 0;
  }
}