.layout-doc {
  .header {
    position: relative;
    z-index: 3;
  }

  .header .container {
    border-bottom: none;
  }
}

.doc {
  min-height: 100%;

  &__content {
    padding-bottom: 3em;

    // TODO: add class to all docs images -tbv
    img {
      max-width: 700px;
    }

    figure {
      @extend %figure;
    }

    // TODO: revisit these -tbv
    h3, h4, h5, h6 {
      @extend %content-heading;
    }

    p {
      @extend %content-paragraph;
    }

    ul, ol {
      @extend %content-list;
    }

    a {
      color: $text--link;
    }

    @include respond-to(contain-90) {
      padding-left: 210px;
    }

    @include respond-to(expand-doc-nav-wide) {
      max-width: 800px;
      padding-left: 0
    }

    padding-top: 22px;

    pre.highlight {
      @extend %code-block !optional;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: $doc-nav-bg;
    border-right: 1px solid shade($doc-nav-bg, 5%);
    font-size: .95em;
    padding: calc(1em + 14px) 1.5em 1em 1.5em;
    text-align: right;

    &__logo {
      position: relative;
      top: -6px;
      transition-property: color;
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 8px;
    }

    @include respond-to(contain-90) {
      min-width: 220px;
    }

    @include respond-to(expand-doc-nav-wide) {
      width: 300px;
    }
  }

  &__nav-section {
    list-style: none;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  &__link {
    position: relative;
    padding-right: 1em;

    &:after {
      position: absolute;
      right: 0;
      display: inline-block;
      content: '\203A';
    }

    &.current, &.current a {
      color: $primary;
    }

    a {
      @extend %link;
      color: $text--light-bg-muted;
    }

    &.outbound{
      padding-right: 0;

      &:after {
        content: '';
      }
    }
  }

  &__group-name {
    text-transform: uppercase;
    font-size: .85em;
    font-weight: bold;
    padding-right: 1em;
  }
}

