.layout-doc {
  .header {
    position: relative;
    z-index: 3;
  }

  .header .container {
    border-bottom: none;
  }
}

.doc {
  min-height: 100%;

  &__content {
    padding: 25px 0 3em 0;
    max-width: 850px;

    @include respond-to(tablet) {
      margin-left: $docs-nav-width;
    }

    // TODO: add class to all docs images -tbv
    img {
      max-width: 700px;
    }

    figure {
      @extend %figure;
    }

    // TODO: revisit these -tbv
    h3, h4, h5, h6 {
      @extend %content-heading;
    }

    p {
      @extend %content-paragraph;
    }

    ul, ol {
      @extend %content-list;
    }

    a {
      color: $text--link;
    }

    pre.highlight {
      @extend %code-block !optional;
    }
  }

  &__nav-menu-btn {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;

    @include respond-to(tablet) {
      display: none;
    }

    &--close {
      position: absolute;
      top: 0;
      right: 1.25em;
      padding: 1em 0;
      margin-right: 0;
    }

    &--open {
      padding-top: 1em;
    }
  }

  &__nav {
    position: fixed;
    transition: left .4s ease-in-out;
    left: -100%;
    top: 0;
    width: $docs-nav-width;
    height: 100%;
    padding: 25px 1.5em;
    background: $doc-nav-bg;
    border-right: 1px solid shade($doc-nav-bg, 5%);
    font-size: .95em;
    text-align: right;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    @include respond-to(tablet) {
      left: 0;
    }

    &.visible {
      left: 0;
    }

    &__logo {
      transition-property: color;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 1.25em;

      @include respond-to(tablet) {
        margin-top: 0;
      }
    }
  }

  &__nav-section {
    list-style: none;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  &__link {
    position: relative;
    padding-right: 1em;

    &:after {
      position: absolute;
      right: 0;
      display: inline-block;
      content: '\203A';
    }

    &.current, &.current a {
      color: $primary;
    }

    a {
      @extend %link;
      color: $text--light-bg-muted;
    }

    &.outbound{
      padding-right: 0;

      &:after {
        content: '';
      }
    }
  }

  &__group-name {
    text-transform: uppercase;
    font-size: .85em;
    font-weight: bold;
    padding-right: 1em;
  }
}

