.layout-doc,
.layout-docs-intro {

  .header {
    position: relative;
    z-index: 3;
  }

  .header .container {
    border-bottom: none;
  }
}

.layout-doc,
.layout-docs-intro {

  .docs-nav-mobile {
    margin: 2rem 0 1rem 0;

    select {
      font-size: 13px;
      width: 300px;
      height: 25px;
    }
  }

  .docs-nav,
  .doc-sidebar-nav {
    display: none;
  }

  @media (min-width: 1000px) {
    .docs-nav {
      display: block;
    }

    .docs-nav-mobile {
      display: none;
    }
  }

  .docs-nav {
    margin-top: 3rem;
    color: $text--light-bg-muted;

    .container {
      @extend %flex-container;
      justify-content: space-between;
      border-bottom: 1px solid $gray--mid;
    }

    &.dark {
      margin-top: 0.5rem;

      .container {
        border: 0;
      }
    }

    .active-section {
      font-size: 1.1rem;

      a:hover {
        color: $text--link;
      }

      i {
        margin: 0 4px;
      }
    }

    .active-section,
    nav {
      display: inline-block;
    }

    nav {

      li {
        display: inline-block;
        padding-bottom: .5rem;
        font-size: .925rem;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $gray;
        }

        &.active {
          border-bottom: 2px solid $gray;
          color: $text--light-bg;
          font-weight: 500;
        }

        margin-left: 1rem;
      }
    }
  }
}

.layout-doc {

  @media (min-width: 1000px) {
    .doc-sidebar-nav {
      display: block;
    }

    .docs {
      padding-top: 3rem;
    }

    .content {
      flex: 3;
      margin-right: 4rem;
    }

    .doc-sidebar-nav {
      flex: 1;
    }
  }

  .container {
    max-width: 1000px;
  }
}

.docs {
  min-height: 100%;
  padding-bottom: 4rem;

  &.dark {
    background: $gray--very-light;
    border-top: 1px solid $gray--mid;
  }

  .container {
    @extend %flex-container;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .content {
    font-size: .92rem;
    max-width: 650px;
    width: 100%;

    .doc-summary {
      color: $text--light-bg-muted;
      padding: 1rem;
      background: $gray--light;
      border-radius: 3px;
      border: 1px solid $gray--mid;
    }

    p, li {
      a {
        text-decoration: underline;
      }
    }

    p:not(:last-child),
    blockquote {
      margin-bottom: 1.5rem;
    }

    ul,
    ol {
      margin: 0 0 1.5rem 20px;

      li {
        margin-bottom: 5px;
      }
    }

    pre {
      @extend %code-block;
    }

    blockquote {
      margin-left: 30px;
      padding-left: 15px;
      border-left: 2px solid $gray--mid;
      color: $text--light-bg-muted;
      font-style: italic;
      font-size: 1rem;
    }

    figcaption.code {
      border: 1px solid $gray--mid;
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
      background: $gray--light;
      padding: 3px 7px 2px;
      font-size: 12px;
      color: mix($black, $white, 45%);
    }
    figcaption.code + .highlighter-rouge pre {
      border-radius: 0 0 3px 3px;
    }
  }

  .doc-sidebar-nav {
    flex: 1;
    height: 100%;

    ul.pages {
      border-radius: 3px;
      border: 1px solid $gray--mid;
      color: $text--light-bg-muted;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      list-style: none;
      background: #fff;

      li {
        font-size: .9rem;
        border-left: 2px solid transparent;
        cursor: pointer;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: .4rem 1rem;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $gray--mid;
        }

        &:hover {
          background: $gray--light;
          color: $text--link;
        }

        &.active {
          border-left: 2px solid $primary;
        }
      }
    }

    ul.headings {
      list-style: none;
      padding: 0.6em 1em;

      li {
        border-bottom: 0;
        font-size: .9rem;
        border-left: 2px solid transparent;
        cursor: pointer;

        a {
          color: $gray--very-dark;
        }
        a:hover {
          color: $text--link;
        }
      }
    }
  }

  section {
    margin: 0 0 2rem;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.05);
    background: #fff;

    & > :first-child {
      margin-top: 0 !important;
    }

    & > :last-child {
      margin-bottom: 0 !important;
    }
  }
}
