.layout-docs-intro {

  .container {
    max-width: 1000px;
  }

  main {
    padding: 1rem 0;
    min-height: calc(100vh - 56px - 70px);
  }

  .callouts-1 {

    .container {
      @extend %grid-3;
      padding: 2em 0;
    }

    .callout {
      @extend %col-1-3;
      border: 1px solid $gray--mid;
      font-size: .9rem;
      padding: 1rem;
      position: relative;
      background: $gray--light;
      color: $text--light-bg-muted;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: darken($gray--light, 5%);

        > i {
          text-shadow: 2px 4px $text--light-bg-transparent;
        }
      }

      &:not(:last-child) {
        margin-bottom: 2em;

        @include respond-to(show-grid-3) {
          margin-bottom: 0;
          border-right: 0;
          border-bottom: 1px solid $gray--mid;
        }
      }

      > i {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .desc {
        font-size: .9rem;
      }

      @include respond-to(show-grid-3) {
        padding: 2rem;

        > i {
          font-size: 8rem;
          margin-bottom: 3rem;
        }

        .title {
          font-size: 1.5rem;
          margin-bottom: 3rem;
        }
      }
    }
  }

  .callouts-2 {

    .container {
      @extend %grid-3;
      padding: 2em 0;
    }

    .callout {
      text-align: left;

      &.updates {
        @extend %col-1-3;
        text-align: left;
        margin-bottom: 3rem !important;
      }

      @include respond-to(show-grid-3) {
        min-width: 295px;
        flex-basis: 295px;
      }

      &.tools {
        @include respond-to(show-grid-3) {
          min-width: 305px;
          flex-basis: 305px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1rem;

        @include respond-to(show-grid-3) {
          margin-right: 3em;
          margin-bottom: 0;
        }
      }
    }

    h2 {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-size: .9rem;
      color: $text--light-bg-muted;

      @include respond-to(show-grid-3) {
        border-bottom: 1px solid $gray--mid;
      }
    }

    .tutorials {
      @extend %col-2-3;
      font-size: .9rem;

      .more {
        @extend %link;
        margin: .5rem 0 2rem 0;
        padding-top: .5rem;
      }
    }

    .updates {
      font-size: .9rem;
    }

    .updates-list {
      margin-left: 20px;
      color: $text--link;

      li {

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}