.hero {
  position: relative;
  background: $hero-bg;
  color: $text--dark-bg;
  padding: 1em 0 4em 0;
  @extend %shrink-text-phone;
  @extend %antialiased;
  font-weight: 500;
  text-align: center;

  @include respond-to(tablet) {
    font-size: 1rem;
    padding-top: 3em;

    &:before {
      display: block;
      position: absolute;
      top: -5px;
      z-index: 1;
      content: '';
      width: 100%;
      height: 40px;
      background: linear-gradient($header-bg, transparent);

      @include respond-to(tall-gradient-hero) {
        height: 60px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .intro {
    margin: inherit auto;
    text-align: center;

    > .description {
      font-size: .95rem;
      max-width: 700px;
      margin: 0 auto 2em auto;

      @media (min-width: 700px) {
        font-size: 1.1rem;
        margin-bottom: 3em;
      }

      a {
        text-decoration: underline;
      }
    }

    .cta {
      font-weight: 600;
      font-size: 0.85rem;
      margin-bottom: 2em;

      @media (min-width: 350px) {
        font-size: 1rem;
        margin-bottom: 3em;
      }
    }
  }

  .tagline {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

    @media (min-width: 350px) {
      font-size: 1.6rem;
      font-weight: 400;
    }

    @media (min-width: 530px) {
      font-size: 1.85rem;
    }
  }

  .links {
    font-size: .85rem;
    margin-bottom: 2rem;

    * {
      vertical-align: middle;
    }

    iframe {
      display: block;
      margin: .5em auto 0 auto;

      @include respond-to(tablet) {
        display: inline-block;
        margin-left: .25em;
        margin-top: 0;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__links {
    @extend %grid-3;
    width: 100%;
    margin-top: 2em;

    @include respond-to(expand-hero) {
      margin: 0;
      text-align: left;
    }
  }

  &__link {
    @extend %rounded;
    @extend %col-1-3;
    display: flex;
    padding: 1em;
    background: transparentize(#fff, .9);
    border: 1px solid transparentize(#fff, .75);
    cursor: pointer;
    text-align: left;

    &:hover {
      background: transparentize(#fff, .75);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include respond-to(show-grid-3) {
        margin: 0 2rem 0 0;
      }
    }

    i {
      font-size: 2rem;
    }

    .info {
      display: inline-block;
      vertical-align: top;
      margin-left: 1em;
    }

    .title {
      font-size: 1rem;
      line-height: .85;
      margin-bottom: .5em;
      font-weight: 700;

      &:after {
        content: '\203A';
        display: inline-block;
        font-size: 1.2rem;
        margin-left: .25em;
      }
    }

    .description {
      font-size: .9rem;
    }
  }
}

.section {
  text-align: center;
  padding: 3em 0;

  &--problem {
    padding: 3em 0;

    .intro {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 1.5em;
    }

    .web {
      width: 100%;

    }

    @media (min-width: 700px) {

      .web {
        display: inline-block;
        width: 48%;
      }
    }
  }

  &--features {
    border-bottom: 1px solid $gray--mid;

    .features-grid {

      @media (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
      }

      @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .feature {
      width: 100%;
      margin-bottom: 3rem;
      font-size: .85rem;
      text-align: left;

      code {
        font-size: .8rem;
      }

      > * {
        display: block;
      }

      .title {
        color: $text--light-bg;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
      }

      .description {
        color: $text--light-bg-muted;
      }

      img {
        margin: auto;
        margin-bottom: 1rem;
        height: 45px;
      }
    }

    @media (min-width: 500px) {
      margin: 0;

      .feature {
        max-width: 330px;

        .title {
          text-align: left;
        }

        img {
          margin: 0 0 1rem 0;
        }
      }
    }
  }

  &--better-internet {
    color: $text--light-bg-muted;
    border-bottom: 1px solid $gray--mid;

    .container {
      margin: auto;
      max-width: 600px;
    }

    p {
      margin-bottom: 2rem;
      font-style: italic;

      &.more {
        margin-top: 2rem;
        font-style: normal;
        a {
          @extend %link;
        }
      }
    }

    h2 {
      color: $text--light-bg-muted;
      font-weight: 400;
      font-style: italic;
      margin-bottom: .25rem;
    }

    ol {
      counter-reset: li;
      margin-left: 2em;
      padding-left: 0;
      text-align: left;
    }

    li {
      position: relative;
      margin: 0 0 0 1em;
      padding: 4px 15px;
      list-style: none;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }

      p {
        font-size: .95rem;
        margin-bottom: 0;
        font-style: normal;
      }
    }

    ol > li:before {
      @extend %antialiased;
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 7px;
      left: -2em;
      box-sizing: border-box;
      width: 2em;
      margin-right: 15px;
      padding: 4px;
      color: #fff;
      background: $primary;
      text-align: center;
      border-radius: 50%;
      font-weight: 600;
    }

    .heading {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: .5rem;
      display: block;
    }
  }


  &--screenshots {
    padding: 0;
    color: $text--light-bg-muted;

    a {
      @extend %link;
    }

    .screenshot-container {
      border-bottom: 1px solid $gray--mid;
      padding-top: 3rem;
      overflow: hidden;

      img.full {
        display: none;
      }

      @media (min-width: 600px) {

        img.cropped {
          display: none;
        }

        img.full {
          display: block;
        }
      }

      @include respond-to (show-grid-2) {
        padding-top: 6rem;
      }

      img[data-src] {
        opacity: 0;
      }

      img {
        @extend %col-1-2;
        height: auto;
        display: inline-block;
        border: 1px solid lighten($gray--mid, 5%);
        border-bottom: 0;
        box-shadow: 0 15px 50px $gray--mid;
        max-width: 640px;
        max-height: 400px;
        opacity: 1;
        transition: opacity 0.3s;
        border-radius: 3px 3px 0 0;
      }

      .title {
        margin-bottom: 1.5em;

        i {
          margin-right: 5px;
        }
      }

      .desc {
        @extend %col-1-3;
        padding-bottom: 1em;

        p:not(:last-of-type) {
          margin-bottom: 2em;
        }
      }

    }

    .screenshot-container.left {

      .container {
        @extend %grid-2;
      }

      .desc {
        margin: 2em 0 1em 0;
      }

      img {
        order: 2;
      }

      @include respond-to(show-grid-2) {

        .desc,
        img {
          margin: auto;
        }

        .desc {
          max-width: 640px;
          padding-right: 2em;
          margin-bottom: 1em;
        }

        .container {
          flex-direction: column !important;
        }
      }

      @media (min-width: 1150px) {

        .container {
          flex-direction: row !important;
        }

        img {
          margin: initial;
          order: 1;

          + div {
            order: 2;
          }
        }

        .desc {
          display: inline-block;
          padding-left: 2em;
          padding-bottom: 0;
          margin: 0 !important;
        }
      }
    }
  }

  &--mission {
    @extend %antialiased;
    background: $primary;
    color: $text--dark-bg;
    position: relative;
    padding: 2em 0;

    .container {
      max-width: 600px;
    }

    .icons {
      @extend %flex-container;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 0;
      font-size: 3rem;
      color: transparentize(#fff, .925);
      padding: 1rem;

      @media (min-width: 550px) {
        font-size: 5rem;
        padding: 0
      }

      @media (min-width: 1000px) {
        padding: 0 1em;
        font-size: 8rem;
        height: 100%;
        align-items: center;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &--apis {
    background: $gray--light;
    justify-content: center;
    border-bottom: 1px solid $gray--mid;
    padding-bottom: 0;

    @include respond-to(show-grid-2) {
      padding-bottom: 3em;
    }

    .container {
      @extend %grid-2;
      margin: auto;
      overflow: hidden;
    }

    .info {

      span {
        @extend %link;
        display: block;
        margin-top: 1.5rem;
        padding-right: 1rem;
      }

      i {
        margin-left: 3px;
      }

      @include respond-to(show-grid-2) {
        padding-right: 1.5rem;
      }
    }

    .info,
    .highlight {
      @extend %col-1-2;
    }

    code {
      font-size: 11.5px;
    }

    .highlight {
      @extend %code-block;
      padding: 1rem 0 !important;
      background: #fff !important;
      border: 0;
      border-top: 1px solid $gray--mid;
      border-bottom: 1px solid $gray--mid;
      text-align: left;
      margin-top: 1.5rem;
      margin-bottom: 3rem !important;
      position: relative;

      &:after,
      &:before {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        background: #fff;
        border-bottom: 1px solid $gray--mid;
        border-top: 1px solid $gray--mid;
        width: 75px;
        top: -1px;
      }

      &:before {
        left: -74px;
      }

      &:after {
        right: -74px;
      }

      @media (min-width: 410px) {
        padding: 1rem !important;

        code {
          font-size: 13px;
        }

        &:after,
        &:before {
          display: none;
        }

      }

      @include respond-to(show-grid-2) {
        margin-top: 0;
        margin-bottom: 0 !important;

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  &--use-cases {
    padding: 3em 0;
    color: $text--light-bg-muted;
    border-bottom: 1px solid $gray--mid;

    .container {
      @extend %grid-3;
    }

    .use-case {
      @extend %col-1-3;
      background: $gray--light;
      border: 1px solid $gray--mid;
      border-radius: 3px;
      padding: 1rem;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      text-align: left;

      &:hover {
        box-shadow: none;

        .more {
          text-decoration: underline;
        }
      }

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .9rem;
        margin-bottom: 1.5rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;

        @include respond-to(show-grid-3) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }

      .more {
        @extend %link;
        font-size: .9rem;
      }
    }
  }

  &--faq {
    padding: 2em 0;
    border-bottom: 1px solid $gray--mid;

    @include respond-to(show-grid-2) {
      padding-bottom: 2em;
    }

    ul {
      list-style: none;
      columns: 2;
      column-width: 300px;
      column-gap: 4em;
    }

    li {
      width: 100%;
      display: inline-block;
      text-align: left;
      margin-bottom: .5em;
      vertical-align: top;
    }

    .question {
      margin-bottom: 1em;
      font-size: 1rem;
    }

    .answer {
      font-size: .9rem;

      a {
        @extend %link;
      }

      p {
        margin-bottom: 1.5em;
      }
    }

    .more {
      @extend %link;
      display: block;
      width: 100%;
      text-align: right;
    }
  }

  &--download {
    background: $download-bg;
    padding: 3em 0 4em 0;
    color: $text--dark-bg;
    @extend %antialiased;
    @extend %shrink-text-phone;
    font-weight: 500;

    .divider {
      margin: 4em auto 0 auto;
    }

    // TODO: find a way to get rid of this special container style -tbv
    .container {
      padding: 0 3px;

      @include respond-to(tablet) {
        padding: 0;
      }
    }
  }

  &--latest {
    background: $latest-bg;
    @extend %shrink-text-phone;

    .divider {
      margin: 4em auto 0 auto;
    }
  }

  &--community {
    padding: 0 0 4em 0;
    background: $community-bg;
  }
}

.partners {
  @extend %grid-5;
  margin-bottom: 4em;

  &__title {
    @extend %col-1-5;
    margin-bottom: 1.5em;
  }

  &__body {
    @extend %col-4-5;
    display: flex;
    margin-right: 2.5em;
    text-align: left;

    & > div:first-child {
      flex: 0;
    }

    .logo {
      height: 70px;
      margin-right: 6em;
    }

    h3 {
      margin-bottom: .5em;

      a {
        color: $text--light-bg;
      }
    }
  }

  a {
    @extend %link;
  }
}

.posts {
  @extend %grid-5;
  margin-bottom: 1rem;

  &__title {
    @extend %col-1-5;
    margin-bottom: 1.5em;
  }

  &__preview {
    @extend %col-2-5;
    // @extend %card;
    margin-right: 2.5em;
    text-align: left;

    h3 {
      margin-bottom: .5em;

      a {
        color: $text--light-bg;
      }
    }

    p {
      color: $text--light-bg-muted;
      font-style: italic;
      font-size: .9rem;
      margin-bottom: 1em;
    }
  }

  &__list {
    @extend %col-2-5;
    font-size: .9rem;
    padding: 1rem;
    margin: auto;
    text-align: left;

    @include respond-to(show-grid-5) {
      padding: 2rem 2rem 2rem 3.5rem;
    }
  }

  a {
    @extend %link;
  }
}

.community {
  .testimonials {
    @extend %grid-3;
    list-style: none;
    font-size: .8rem;
  }

  .testimonial {
    @extend %col-1-3;

    &:not(:last-child) {
      margin-bottom: 3.5em;

      @include respond-to(show-grid-3) {
        margin-right: 3.5em;
        margin-bottom: 0;
      }
    }

    .wrapper {
      @extend %flex-container;
      justify-content: center;

      @include respond-to(tablet) {
        justify-content: flex-start;
      }
    }

    span {
      padding-top: 8px;
    }

    &__quote {
      display: block;
      color: $text--light-bg-muted;
      font-style: italic;
      margin-bottom: .75em;

      a {
        @extend %link;
      }
    }

    &__avatar {
      @extend %circle;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin-right: .75em;
    }

    &__link {
      @extend %link;

     &:before {
       display: inline-block;
       content: '—';
     }
    }
  }

  .mailing-list {
    @extend %col-1-3;
  }
}

body.layout-default {

  .header .container {
    padding: 25px 10px;
  }
}

#video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.5);

  &.show {
    display: block;
  }

  iframe {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 180px;

    @media (min-width: 600px) {
      width: 560px;
      height: 315px;
    }
    @media (min-width: 800px) {
      width: 640px;
      height: 360px;
      top: 50%;
    }
    @media (min-width: 1000px) {
      width: 853px;
      height: 480px;
    }
  }
}