.layout-post {

  .header .container {
    border-bottom: 0;
  }

  .container {
    max-width: 1000px;
  }

  & > .container {
    display: flex;

    main {
      flex: 3;
      max-width: 600px;
    }

    .blog-sidebar {
      flex: 0 0 250px;
      margin-left: auto;
      margin-top: 3em;

      @include respond-to(shrink-blog-sidenav) {
        flex: 0 0 300px;
      }
    }
  }

  main {
    min-height: calc(100vh - 56px - 70px);
    margin: 2rem 1rem;
    font-size: .9rem;
    word-wrap: break-word;

    pre {
      @extend %code-block;
    }

    img {
      border-radius: 3px;
      border: 1px solid #ddd;
    }

    figure img {
      border-radius: 0;
      border: none;
    }

    a {
      color: $primary;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }

    @include respond-to(tablet) {
      margin: 3rem 1em;
    }
  }

  .post-meta {
    @extend %flex-container;
    align-items: center;
    font-size: .8rem;
    color: $text--light-bg-muted;

    .avatar {
      height: 100%;
    }

    .author {
      color: $primary;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    .info {
      margin-left: .5rem;
    }
  }

  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  ul {
    margin-left: 20px;
  }

  ul,
  p {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .back-to-blog {
    margin-top: 1.5rem;
    color: $primary;
    text-decoration: none !important;
    display: block;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .twitter-tweet {
    margin-bottom: 1.5rem !important;
  }

  blockquote {
    font-style: italic;
    color: $text--light-bg-muted;
    margin-left: 20px;
    margin-bottom: 1.5rem;

    &.big {
      font-size: 1.2em;
    }
  }
}
