.content {

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: initial;

    code {
      font-weight: 500;
    }
  }

  h2 {
    margin-top: 50px;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
  }

  h3 {
    font-size: 1rem;
  }

  h4:not(code) {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  p,
  ul,
  ol,
  aside {
    font-size: 13.5px;
    font-size: 15px;
    color: #222;
  }

  .columns,
  p {
    margin-bottom: 20px;
  }

  p.accent {
    font-size: 22px;

    code {
      font-size: 18px;
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    margin: 0 0 20px 50px;

    li:not(:last-of-type) {
      margin-bottom: 3px;
    }
  }

  blockquote {
    margin-left: 30px;
    padding-left: 15px;
    border-left: 2px solid var(--page-color);
    color: $text--light-bg-muted;
    font-style: italic;
    font-size: 1rem;
  }

  figcaption.code {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .25px;
  }

  pre {
    margin-bottom: 20px;
    padding: 10px;
    background: #f2f2f2;
    font-size: 14px;
    overflow-x: scroll;

    code {
      background: none;
      padding: 0;
    }
  }

  ul code,
  ol code,
  aside code,
  p code {
    background: #f2f2f2;
    padding: 0 4px;
    font-size: 13.5px;
  }

  figure.col {

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 30px;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.layout-post {

  .header .container {
    border-bottom: 0;
  }

  .container {
    max-width: 1000px;
  }

  & > .container {
    display: flex;
  }

  main {
    max-width: 650px;
    min-height: calc(100vh - 56px - 70px);
    margin: 50px auto;
    font-size: .875rem;
    word-wrap: break-word;

    pre {
      @extend %code-block;
    }

    img {
      border-radius: 3px;
      border: 1px solid #ddd;
    }

    figure img {
      border-radius: 0;
      border: none;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $primary;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 1.4rem;
      margin-top: 40px;
      font-weight: 500;
    }

    h3 {
      font-weight: 500;
    }
  }

  .post-meta {
    text-align: center;
    color: $text--light-bg-muted;
    font-size: 1rem;
    margin-bottom: 35px !important;

    .author {
      color: $primary;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    .info {
      margin-left: .5rem;
    }
  }

  .post-summary {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 35px !important;
  }

  ul {
    margin-left: 20px;
  }

  ul,
  p {
    margin-bottom: 20px;
  }

  .back-to-blog {
    text-transform: uppercase;
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  .twitter-tweet {
    margin-bottom: 25px !important;
  }

  blockquote {
    position: relative;
    font-style: italic;
    color: $text--light-bg-muted;
    padding: 10px 0 30px 25px;
    font-size: 1.3rem;
  }

  figure {
    padding-top: 15px;
    margin-bottom: 30px;

    code {
      background: none;
      font-size: inherit;
      font-family: inherit;
      padding: 0;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
