.layout-post {

  .header .container {
    border-bottom: 0;
  }

  .container {
    max-width: 1000px;
  }

  & > .container {
    display: flex;
  }

  main {
    max-width: 650px;
    min-height: calc(100vh - 56px - 70px);
    margin: 50px auto;
    font-size: .875rem;
    word-wrap: break-word;

    pre {
      @extend %code-block;
    }

    img {
      border-radius: 3px;
      border: 1px solid #ddd;
    }

    figure img {
      border-radius: 0;
      border: none;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $primary;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 1.4rem;
      margin-top: 40px;
      font-weight: 500;
    }

    h3 {
      font-weight: 500;
    }
  }

  .post-meta {
    @extend %decorative-font;
    text-align: center;
    color: $text--light-bg-muted;
    font-size: 1rem;
    margin-bottom: 35px !important;

    .author {
      color: $primary;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    .info {
      margin-left: .5rem;
    }
  }

  .post-summary {
    @extend %decorative-font;
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 35px !important;
  }

  ul {
    margin-left: 20px;
  }

  ul,
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .back-to-blog {
    @extend %decorative-font;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  .twitter-tweet {
    margin-bottom: 25px !important;
  }

  blockquote {
    @extend %decorative-font;
    position: relative;
    font-style: italic;
    color: $text--light-bg-muted;
    padding: 10px 0 30px 25px;
    font-size: 1.3rem;
  }

  figure {
    padding-top: 15px;
    margin-bottom: 30px;

    code {
      background: none;
      font-size: inherit;
      font-family: inherit;
      padding: 0;
    }
  }

  .highlight {
    margin-bottom: 25px;

    code {
      background: none;
      padding: 0;
    }
  }

  code {
    background: #eee;
    padding: 2px 5px;
    font-size: inherit;
  }

  strong {
    font-weight: 600;
  }
}
