.team-member {
  display: flex;
  margin-right: 50px;
  div {
    margin: 10px 10px 0;
    &:first-child {
      margin-left: 0;
    }
  }
  img {
    width: 160px;
  }
  h4 {
    margin: 10px 0 !important;
  }
  p {
    margin: 0 !important;
  }
}

