.team-member {
  @extend %flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;

  @include respond-to(tablet) {
    flex-wrap: nowrap;
  }

  a:hover {
    text-decoration: underline;
  }

  &.blue {

    .info {
      background: $blue;
    }

    .bio a,
    .bio .fa {
      color: $blue;
    }

    h4 {
      color: $blue;
    }
  }

  &.purple {

    .info {
      background: $purple;
    }

    .bio .fa,
    .bio a {
      color: $purple;
    }

    h4 {
      color: $purple;
    }
  }

  &.green {

    .info {
      background: $green;
    }

    .bio .fa,
    .bio a {
      color: $green;
    }

    h4 {
      color: $green;
    }
  }

  .info {
    @extend %antialiased;
    color: #fff;
    flex: 1 0 135px;
    width: 135px;
    height: 135px;
    padding: 15px;
    text-align: center;

    h3.name {
      margin: 0;
    }
  }

  .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 0px;
    border: 2px solid rgba(255,255,255,.15);
  }

  div.bio {
    @extend %body-font;
    padding: 0 20px;

    p {
      font-size: 13px;
    }
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11.5px;
  }

  .links {
    margin-left: 0;
    list-style: none;

    .fa {
      margin-right: 5px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .event-links a {
    color: #111 !important;
  }
}