<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title | default: "Beaker Browser" }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Blog">

    <!-- SEO -->
    {% include keywords.html %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    {% if page.layout == 'post' %}
      <meta name="twitter:site" content="@BeakerBrowser" />
      <meta name="twitter:title" content="{{ page.title }}"/>
      <meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html }}"/>
      {% if page.image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://beakerbrowser.com{{ page.image }}" />
      {% else %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="https://beakerbrowser.com/img/logo/logo-blue.png" />
      {% endif %}
    {% else %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@BeakerBrowser">
      <meta name="twitter:creator" content="@BeakerBrowser">
      <meta name="og:title" content="Beaker | {{ page.title | default: "A peer-to-peer browser for Web hackers." }}">
      <meta name="og:description" content="{{ page.desc }}">
      {% if page.thumb %}
        <meta name="og:image" content="{{ page.thumb }}">
      {% endif %}
    {% endif %}
  </head>
  <body class="layout {{ page.sublayout }}">
    <style>
      body { page--color: #5543ff; }
    </style>

    {% if page.header == "dark" %}
      {% include header-dark.html %}
    {% else %}
      {% include header-light.html %}
    {% endif %}

    <div class="container blog">
      {% if page.title %}
        <h1 class="title">{{ page.title }}</h1>
      {% endif %}

      {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}

      {{ content }}
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
