<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Beaker | {{ page.title | default: "Decentralized Apps Platform" }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="icon" href="/img/favicon.png">

        <!-- social woo woo -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@pfrazee">
        <meta name="twitter:title" content="Beaker | {{ page.title | default: "Decentralized Apps Platform" }}">
        <meta name="twitter:description" content="{{ page.desc }}">
        {% if page.thumb %}
          <meta name="twitter:image" content="{{ site.url }}/img/{{ page.thumb }}">
        {% endif %}

    </head>
    <body class="layout-{{ page.layout }}">

      <div class="site">
        <div class="header">
          <a href="/"><img src="/img/logo/32x32.png"></a>
          <a href="/"><h1 class="title">Beaker Browser</h1></a>
          <div class="flex-spacer"></div>
          <a class="nav-link" href="/docs"><span class="fa fa-book"></span> <span class="hidable">Docs</span></a>
          <a class="nav-link" href="/download.html"><span class="fa fa-download"></span> <span class="hidable">Download</span></a>
          <a class="nav-link" href="https://community.beakerbrowser.com/"><span class="fa fa-comments-o"></span> <span class="hidable">Community</span></a>
          <a class="nav-link" href="https://github.com/pfrazee/beaker"><span class="fa fa-github"></span> <span class="hidable">View on GitHub</span></a>
        </div>

        {{ content }}

        <div class="footer">
          <div class="flex-spacer"></div>
          <a href="/"><span class="fa fa-home"></span> Home</a>
          <a class="nav-link" href="/docs"><span class="fa fa-book"></span> Docs</a>
          <a class="nav-link" href="/download.html"><span class="fa fa-download"></span> Download</a>
          <a class="nav-link" href="https://community.beakerbrowser.com/"><span class="fa fa-comments-o"></span> Community</a>
          <a class="nav-link" href="https://github.com/pfrazee/beaker"><span class="fa fa-github"></span> GitHub</a>
          <div class="flex-spacer"></div>
        </div>
      </div>

    </body>
</html>
