---
layout: default
---

<main class="docs">
  <div class="content">
    <div class="container">
      {% include docs-nav.html section=page.section %}
      <h2>{{ page.title }}</h2>
      {{ page.category }}
      {{ content }}
      {% include docs-sidebar.html section=page.section %}
    </div>
  </div>
</main>

<script>
var $ = document.querySelector.bind(document)
var $$ = function (selector) {
  return Array.prototype.slice.call(document.querySelectorAll(selector))
}
</script>
<script src="/js/anchor.min.js"></script>
<script>
anchors.add('h2, h3, h4')
</script>
