<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Install Beaker - Beaker Browser</title>
    <meta name="viewport" content="width=device-width">

    <!-- SEO -->
    {% include keywords.html %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    <meta name="twitter:site" content="@BeakerBrowser" />
    <meta name="twitter:title" content="Install - Beaker Browser">
    <meta name="twitter:image" content="https://beakerbrowser.com/img/logo/logo-blue.png" />
    <meta name="twitter:description" content="Install Beaker, an experimental peer-to-peer browser with support for the dat:// protocol">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BeakerBrowser">
    <meta name="twitter:creator" content="@BeakerBrowser">
    <meta name="og:title" content="Install - Beaker Browser">
    <meta name="og:description" content="Install Beaker, an experimental peer-to-peer browser with support for the dat:// protocol">
  </head>

  <body class="layout install">
    <style>body { --page-color: #5743ff; }</style>

    {% include header-dark.html %}

    <div class="container content narrow source">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
