<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Install Beaker</title>
    <meta name="viewport" content="width=device-width">

    <!-- SEO -->
    {% include keywords.html %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    <meta name="twitter:site" content="@BeakerBrowser" />
    <meta name="twitter:title" content="Install Beaker | Peer-to-peer Web Browser"/>
    <meta name="twitter:image" content="https://beakerbrowser.com/img/logo/256x256.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BeakerBrowser">
    <meta name="twitter:creator" content="@BeakerBrowser">
    <meta name="og:title" content="Install Beaker | Peer-to-peer Web Browser"/>


    <!-- TODO -->
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
  </head>

  <body class="layout install">
    <style>body {  --page-color: #5743ff; }</style>

    {% include header-dark.html %}

    <div class="container narrow">
      <div class="content">
        <h1 class="title">
          Install Beaker
        </h1>

        <div class="columns">
          <div class="col col-1-3 installers">
            <a href="https://github.com/beakerbrowser/beaker/releases/download/0.8.0-prerelease.6/beaker-browser-0.8.0-prerelease.6.dmg" class="installer macos">
              <h2 class="platform">macOS</h2>
              <i class="platform-icon fa fa-apple"></i>
              <p class="pseudolink">
                Download .dmg
                <i class="fa fa-angle-right"></i>
              </p>
            </a>

            <a href="https://github.com/beakerbrowser/beaker/releases/download/0.8.0-prerelease.6/beaker-browser-setup-0.8.0-prerelease.6.exe" class="col col-1-3 installer windows">
              <h2 class="platform">Windows</h2>
              <i class="platform-icon fa fa-windows"></i>
              <p class="pseudolink">
                Download .exe (64-bit only)
                <i class="fa fa-angle-right"></i>
              </p>
            </a>

            <a href="https://github.com/beakerbrowser/beaker/releases/download/0.8.0-prerelease.6/beaker-browser-0.8.0-prerelease.6-x86_64.AppImage" class="col col-1-3 installer linux">
              <h2 class="platform">Linux</h2>
              <i class="platform-icon fa fa-linux"></i>

              <p class="pseudolink">
                AppImage installer (x86_64)
                <i class="fa fa-angle-right"></i>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container source">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
