<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Install Beaker - Beaker Browser</title>
    <meta name="viewport" content="width=device-width">

    <!-- SEO -->
    {% include keywords.html %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    <meta name="twitter:site" content="@BeakerBrowser" />
    <meta name="twitter:title" content="Install Beaker | Peer-to-peer Web Browser"/>
    <meta name="twitter:image" content="https://beakerbrowser.com/img/logo/256x256.png" />
    <meta name="twitter:description" content="Beaker is an experimental peer-to-peer browser with support for the dat:// protocol">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BeakerBrowser">
    <meta name="twitter:creator" content="@BeakerBrowser">
    <meta name="og:title" content="Install Beaker | Peer-to-peer Web Browser"/>
  </head>

  <body class="layout install">
    <style>body { --page-color: #5743ff; }</style>

    {% include header-dark.html %}

    <div class="container content narrow source">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
