<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beaker v{{ page.version }}</title>
    <link rel="stylesheet" href="/css/release.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    <meta name="twitter:site" content="@BeakerBrowser" />
    <meta name="twitter:title" content="Beaker v{{ page.version }} Released"/>
    <meta name="twitter:description" content="See what's new in v{{ page.version }}."/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://beakerbrowser.com/img/releases/{{ page.version | slugify }}{{ page.images[0] }}" />
  </head>

  <body>
    <main class="release">
      <div id="update-message">
        <i class="fa fa-check-circle"></i>
        <p>Beaker is up to date</p>
      </div>

      <div class="container">
        <div class="sidebar">
          <h1 class="mobile">Beaker {{ page.version }}</h1>
          <div class="gallery">
            <img src="/img/releases/{{ page.version | slugify }}{{ page.images | first }}" class="active">
            <div class="thumbnails">
              {% for image in page.images %}
                <div class="thumbnail-container">
                  <img class="thumbnail" src="/img/releases/{{ page.version | slugify }}{{ image }}"/>
                  <i class="fa fa-search"></i>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="info">
            <h2>Information</h2>
            <ul>
              <li>Version: {{ page.version }}</li>
              <li>Released: {{ page.releaseDate }}</li>
              <li>Size: {{ page.size }}</li>
            </ul>
            <div class="install-actions visible">
              <a href="https://github.com/beakerbrowser/beaker">Build from source</a>
              <a href="https://beakerbrowser.com/docs/install/">Download installer</a>
            </div>
          </div>
        </div>

        <div class="release-notes">
          <h1 class="desktop">Beaker {{ page.version }}</h1>
          {{ content }}
        </div>
      </div>
    </main>
    <div class="image-modal">
      <img>
    </div>
    {% include analytics.html %}
  </body>

  <script>
    window.onkeydown = function(e) {
      var key = e.keyCode ? e.keyCode : e.which
      if (key === 27) closeModal()
    }

    var q = window.location.search || '';
    if (q.includes('updated')) {
      document.querySelector('#update-message').classList.add('visible')
      document.querySelector('.install-actions').classList.remove('visible')
    }

    var thumbnails = document.querySelectorAll('.thumbnail')
    thumbnails.forEach(function (el) {
      el.addEventListener('click', openModal)
    })

    function closeModal () {
      document.querySelector('.image-modal').classList.remove('visible')
      document.querySelector('.image-modal').removeEventListener('click', closeModal)
    }

    function openModal (e) {
      e.preventDefault()
      var img = e.target
      document.querySelector('.image-modal img').src = img.src || img.dataset.src
      document.querySelector('.image-modal').classList.toggle('visible')
      document.querySelector('.image-modal').addEventListener('click', closeModal)
    }
  </script>
</html>
