<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Snippets - Beaker Browser</title>
    <meta name="viewport" content="width=device-width">

    <!-- SEO -->
    {% include keywords.html %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="icon" href="/img/favicon.png">

    <!-- social woo woo -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BeakerBrowser">
    <meta name="twitter:title" content="Snippets - Beaker Browser">
    <meta name="twitter:description" content="A collection of handy snippets for building p2p websites and apps with the Beaker browser">
    <meta name="twitter:creator" content="@BeakerBrowser">
    <meta name="og:title" content="Snippets - Beaker Browser">
    <meta name="og:description" content="A collection of handy snippets for building p2p websites and apps with the Beaker browser">
    {% if page.thumb %}
      <meta name="og:image" content="{{ page.thumb }}">
    {% endif %}
  </head>

  <body class="layout snippets">
    {% include header-dark.html %}

    <div class="container">
      <h1 class="title">
        <span class="fas fa-cut"></span>

        {{ page.title }}
      </h1>

      <p class="subheading">
        {{ page.subtitle }}
      </p>

      {{ content }}
    </div>

    {% include footer.html %}
  </body>

  <script src="/js/snippets.js"></script>
  {% include analytics.html %}
</html>
